# <center> Input and Output</center>

In this file, we will see the following topics:
1. Formatted string literals
2. String format
3. Manual string formatting
    * <code>rjust()</code>, <code>ljust()</code> and <code>center()</code>
4. Reading from file
5. Writing to file
6. Exercises

* Often we want more control over the formatting of our output than simply printing space-separated values. 
* There are several ways to format output:
1. Using formatted string literals
2. Using string format
3. Manual string formatting

## 1. Formatted string literals

* To use **formatted string literals**, we must begin a string with <code>f</code> or <code>F</code> before the opening quotation mark or double quotation mark. 
* Inside this string, we can write a Python expression betwen <code>{</code> and <code>}</code> characters that can refer to variables or literal values

In [53]:
from math import pi

In [54]:
#Example 1. Greetings to all
var = 'friends'
var1 = 'enemies'
var2 = 'family'

In [55]:
#Not using formatted string literals
print("Hello, World,",var,",",var1,", and",var2 )

Hello, World, friends , enemies , and family

In [56]:
#Using formatted string literals
print(f'Hello, World, {var}, {var1}, and {var2}')

Hello, World, friends, enemies, and family

In [57]:
# Example 2. Representing pi with a precision of 2 decimal values
print(f"The value of pi is approximately {pi:.2f}")

The value of pi is approximately 3.14

<p style="color:red;">Notice that the <code>f</code> that is followed by the .2 represents a <b>fixed-point notation</b>. Which means that it formats the value of PI as a decimal number with exactly two digits following the decimal point.</p>

## 2. String Format

* The <code>str.format()</code> method of strings requires more manual effort.
* We will still use <code>{</code> and <code>}</code> to mark where a variable will be substituted and can provide detailed formatting directives, but we also need to provide the information to be formatted

In [36]:
#Example 1. Student taking a class.
student = "Jhon"
subject = "History"
year = "2022"

In [37]:
# a)Printing without any formatting 
print("The student", student, "is taking the course", subject, "in", year)

The student Jhon is taking the course History in 2022

In [38]:
#b)Printing with a formatted string literal
print(f"The student {student} is taking the course {subject} in {year}")

The student Jhon is taking the course History in 2022

In [39]:
#c) Using string fomat
print("The student {} is taking the course {} in {}".format(student, subject, year))

The student Jhon is taking the course History in 2022

In [43]:
#Example 2. 
print("{0}, {1} and {2}".format('apple', 'banana', 'watermelon'))

apple, banana and watermelon

In [44]:
#b) Changing the result
print("{2} and {0}".format('apple', 'banana', 'watermelon'))

watermelon and apple

In [2]:
average = 9.104104

In [4]:
print(f'{average:.4}')

9.104

In [45]:
#Example 1. Null
votes = 2_342_710
null_votes = 1_234_120
percentage_of_votes = null_votes/votes
print('From a total of {:-7} votes, the {:.2%} of the votes were null votes'.format(votes, percentage_of_votes))

From a total of 2342710 votes, the 52.68% of the votes were null votes

## 3. Manual string formatting

We can use some methods to do a manual string formatting:
* <code>str.rjust()</code>
* <code>str.ljust()</code>
* <code>str.center()</code>

The <code>str.rjust()</code> method right-justifies a string in a field of a given width by padding it with spaces on the left. The methods <code>str.ljust()</code>, and  <code>str.center()</code> are similar.

In [60]:
#Example
name = "Charlie"
last_name = "Martinez"
university = "Instituto Tecnológico Autónomo de México"

In [61]:
# ***************Carlos
#print(name.rjust(10))
#print(last_name.ljust(100))
print(university.center(100))

                              Instituto Tecnológico Autónomo de México

## 4. Reading from file

In [ ]:
# Example 1. Reading all the scores from the following file: "scores.txt"
with open ('calificaciones.txt', 'r') as f:
    cal = int(f.readline()) #10
    califs = []
    while(cal != -1):
        califs.append(cal)
        cal = int(f.readline()) #8

In [ ]:
#Example 2. Reading all the sales of the day
with open('ventas.txt', 'r') as f:
    venta = f.readline()

## 5. Writing to file

In [3]:
#Example 1. Writing in a file
with open('ventasFinales.txt', 'w') as f:
    f.write('\n651')

In [ ]:
#Example 2. Appending in a file
with open('ventasFinales.txt', 'w') as f:
    f.write('\n651')

## 6. Exercises

In [41]:
#1. Print the first 10 decimal numbers of PI

#print(f'The first decimal numbers of PI are: {pi:.10}')
#print("The first decimal numbers of PI are: {:.10}".format(pi))

Los primeros 10 decimales de pi son: 3.141592654

In [43]:
#2. Cristiano Ronaldo has scored 123 goals in Manchester United, 450 in Real Madrid, and 101 in Juventus. 
# Print the percentage of goals that he has scored in Real Madrid, with a 2 decimal number precision.
#  Team | Total Amount of goals
# Manchester United | 123
# Real Madrid | 450
# Juventus | 101

manchester = 123
real_madrid = 450
juventus = 101

print(f'El porcentaje de goles que ha metido en el RM es: {real_madrid / (manchester + real_madrid + juventus): .2%}')

El porcentaje de goles que ha metido en el RM es:  66.77%

In [4]:
#3. Print the values between 1 and 10 and their corresponding squared numbers in a table form
# 1 | 1
# 2 | 4


for i in range(1, 11):
    print(i, i**2)

SyntaxError: invalid syntax (934335810.py, line 4)

In [52]:
#3.1 # Use the rjust() function to show the previous table in a more legible form

for i in range(1, 11):
    print(str(i).center(5), str(i**2).rjust(5))

  1       1
  2       4
  3       9
  4      16
  5      25
  6      36
  7      49
  8      64
  9      81
  10    100

#### 4. Consider a list (<code>list = []</code>). You can perform the following commands:

1. <code>insert i e</code>: Insert integer <code>e</code> at position <code>i</code>
2. <code>print</code>: Print the list.
3. <code>remove e</code>:Delete the first occurrence of integer <code>e</code>
4. <code>append e</code>: Insert integer <code>e</code> at the end of the list
5. <code>sort</code>: Sort the list.
6. <code>pop</code>: Pop the last element from the list.
7. <code>reverse</code>: Reverse the list.

Initialize your list and read in the value of followed by lines of commands where each command will be of the types **7** listed above. **Iterate through each command in order and perform the corresponding operation on your list.** 

*Example*
* N = 4
* append 1
* append 2
* insert 3 1
* print

Output:
[1, 3, 2]

Open and read the file named "commands.txt" and perform the given instructions.

In [20]:
#[6, 5, 10]
#[1, 5, 9, 10]
#[10, 9, 5, 1]


with open('Files/commands.txt', 'r') as f:
    list1 = []
    tot = int(f.readline())
    
    for i in range(tot + 1):
        comm = f.readline()
        
        comm = comm.split(' ')
        print(comm)
        if(comm[0] == 'insert'):
            list1.insert(int(comm[1]),int(comm[2]))

        if(comm[0] == 'print\n'):
            print(list1)
        if(comm[0] == 'remove\n'):
            list1.remove(int(comm[1]))
        if(comm[0] == 'append'):
            list1.append(int(comm[1]))
        if(comm[0] == 'sort\n'):
            list1.sort()
        if(comm[0] == 'pop\n'):
            list1.pop()
        if(comm[0] == 'reverse\n'):
            list1.reverse()

['insert', '0', '5\ninsert', '1', '10\ninsert', '0', '6\nprint\nremove', '6\nappend', '9\nappend', '1\nsort\nprint\npop\nreverse\nprint\n\n']

ValueError: invalid literal for int() with base 10: '5\ninsert'