# <center> Variables, expressions, and statements <center>

In this module, we will cover the following topics:
1. [Values](#values)
2. [Variables and types](#variables_and_types)
3. [Variable names and keywords](#variable_names_and_keywords)
4. [Operators and operands](#operators_and_operands)
5. [Order of operations](#order_of_operations)
6. [Input function](#input_function)
7. [Exercises](#exercises)

<a id = "values">

## 1. Values
A **value** is one of the basic things a program works with, like a letter or a number.
For instance:

In [ ]:
"Hola Mundo"

In [ ]:
2.0

<a id = "variables_and_types">

## 2. Variables and types
A **variable** is a name that refers to a value. In Python, there are four types of variables: 
* <font color=red>Int</font>: A type value that represents integer numbers.
* <font color=red>Floating - point</font>: A type of value that represents numbers with a decimal part.
* <font color=red>String</font>: Represents a sequence of characters.
* <font color=red>Bool</font>: Represents two types of values: <code>true</code> and <code>false</code>.

In [ ]:
#Integer number
1

In [ ]:
# Float number
1.13

In [ ]:
#String
"Hola Mundo"

In [ ]:
#Bool
False

## 2.1 The <code>type</code> fucntion

In Python, there is a built-in function called `type` that identifies the type of a variable.

In [ ]:
#Type of an integer
type(1)

In [ ]:
#Type of a float
type(3.14)

In [ ]:
#Type of a String
type("Hola,Mundo!")

In [ ]:
#Type of a boolean
type(False)

## 2.2 Variable assignment
A **variable assignment** creates a new variable and assigns value to it.

In [ ]:
message = "Welcome to class!"
print(message)

In [ ]:
score = 9
score

In [ ]:
division = 14.7
division

<a id = "type_conversion">

## 2.3 Type conversion

Python provides built-in functions to convert between different types of variables.

|    Function    |                      Description                       |
|----------------|--------------------------------------------------------|
| `int(var)`     | Convert a variable or value to an integer              |
| `float(var)`   | Convert a variable or value to a floating-point number |
| `str(var)`     | Convert a variable or value to a string                |
| `bool(var)`    | Convert a variable or value to a boolean               |

In [ ]:
#Convert from string to integer
num = "3"

In [ ]:
int(num)

In [ ]:
#Convert from float to str
score = 8.7

In [47]:
str(score)

'8.7'

<a id = "variable_names_and_keywords">

## 3. Variable names and keywords
* Use **meaningful** variable names.
* Variable names **must begin with a letter** and can contain letters and numbers. 
* Certain **reserved keywords** cannot be used as a variable name.

**Example 1. Incorrect variable names**

In [48]:
a = 1

In [49]:
b = 3.14

In [50]:
@xy = 23

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2714262717.py, line 1)

In [51]:
n = "student"

**Example 2: Correct variable names**

In [52]:
finalScore = 10

In [53]:
november_salary = 20300.50

In [54]:
model_car = "Honda"

### 3.1 Table of the keywords used in Python and a short description

| Keyword          | Description                   |
|------------------|-------------------------------|
| and              | Boolean AND                   |
| as               | Alias                         |
| assert           | Debugging                     |
| break            | Exit loop                     |
| class            | Define class                  |
| continue         | Continue loop                 |
| def              | Define function               |
| del              | Delete item                   |
| elif             | Conditional                   |
| else             | Else condition                |
| except           | Exception handling            |
| finally          | Final execution               |
| for              | Looping                       |
| from             | Import                        |
| global           | Global variable               |
| if               | Conditional                   |
| import           | Import                        |
| in               | Membership                    |
| is               | Identity                      |
| lambda           | Anonymous function            |
| nonlocal         | Non-local variable            |
| not              | Boolean NOT                   |
| or               | Boolean OR                    |
| pass             | Placeholder                   |
| raise            | Exception raising             |
| return           | Return value                  |
| try              | Error handling                |
| while            | Looping                       |
| with             | Resource management           |
| yield            | Generator                     |

<a id = "operators_and_operands">

## 4. Operators and operands

* **Operators** are symbols that represent computations like addition and multiplication. 
* The values the operator is applied to are called **operands**.

**Example 1. Adding two sales.**

In [55]:
sale1 = 8 
sale2 = 5

In [56]:
sale1 + sale2

13

**Example 2. Given the daily salary, compute the monthly salary**

In [57]:
daily_salary = 170.55

In [58]:
daily_salary * 30

5116.5

**Example 3. Splitting a bill**

In [59]:
total_bill = 1854
number_of_friends = 4

In [60]:
share_per_friend = total_bill / number_of_friends
print(share_per_friend)

463.5

**Example 4. Given a group of friends, compute number of cars needed**

In [61]:
students = 8
candies = 3

In [62]:
students // candies

2

**Example 5. Determine if a number is even.**

In [63]:
number = 8

In [64]:
number % 2

0

**Example 6. Raise $a$ to the power of $b$.**

In [65]:
a = 2
b = 5

In [66]:
a ** b

32

----

<a id = "order_of_operations">

## 5. Order of operations

* When more than one operator appears in an expression, the order of evaluation depends on the **rules of precedence**. 
* Python follows mathematical convention:
    1. Parentheses.
    2. Exponentiation.
    3. Multiplication, division and modulus operator.
    4. Addition and subtraction.

**Example 1. Use of parentheses**

In [67]:
2 * (3 - 1)

4

In [68]:
2 * 3 - 1

5

**Notice that** $$2 * (3-1) \neq 2 * 3 - 1$$
This is because the way to solve the left side is as follows: 
$$ 2 * (3 - 1)$$
$$ = 2 * (2)$$
$$= 4$$

And the way to solve the right side is as follows:

$$2 * 3 - 1$$
$$= 6 - 1$$
$$= 5$$

**Example 2. Exponentiation before multiplication and division**

In [69]:
2 * 4 ** 2

32

In [70]:
(2 * 4) ** 2

64

**Notice that** $$2 * 4 ^{2} \neq (2 * 4)^{2} $$
This is because the way to solve the left side is as follows: 
$$ 2 * 4 ^{2}$$
$$ = 2 * 16$$
$$= 32$$

And the way to solve the right side is as follows:

$$(2 * 4)^{2}$$
$$=(8)^{2}$$
$$= 64$$

**Example 3. Same hierarchy of operations**

If we have operators with the same hierarchy in an expression, then we perform the operation from left to right.

In [71]:
daily_expense = 75
total_days = 5
friends = 4

In [72]:
daily_expense * total_days / friends

93.75

**Example 4. Other uses of parentheses**

Sometimes we can use parentheses to make a statement clearer:

In [73]:
celsius = 28
(celsius * 9/5) + 32

82.4

----

<a id = "input_function">

## 6. Input function

* The `input()` function in Python is used to take user input from the keyboard. 
* It reads a line of input from the user as a string and returns that value.

**Example 1. Basic input**

In [74]:
name = input("Enter your name: ")
print("Hello, ", name)

KeyboardInterrupt: Interrupted by user

**Example 2. Numeric input**

In [ ]:
age = input("Enter your age: ")
print("You are", age, "years old.")

> Note that the input function returns a string value as default, if we need to use an integer or float value, we need to convert using the functions seen in section [2.3 Type Conversion](#type_conversion)

**Example 3. Using int to convert to integer**

In [ ]:
monthly_rent = int(input("Give the total value of the rent"))
print("You spent", monthly_rent * 12, "this year")

**Example 4. Using float to convert to a decimal value**

In [ ]:
cost = float(input("Give the total value of the product"))
discount = float(input("Give the percentage"))
total_cost = cost * (1 - discount)
print("Cost of the product with discount", total_cost)

----

<a id = "exercises">

## 7. Exercises

**1. Compute the area of a triangle with a base 10 cm and height 15 cm.** 

$$TriangleArea =\frac{base * height}{2}$$

**2. Compute the area of a circle with a radius 5.**

$$CircleArea = \pi * r^{2}$$

**3. Compute the average of three scores: $8.5$, $7.2$, and $9.3$**

**4. Given a Celsius degree, convert it to Fahrenheit.**

$$ F = \frac{9}{5} * C + 32$$

**5. A group of friends go out for a dinner and the total bill to pay is of 87.50 USD, if they would like to give a tip of 15%. How much should the tip be?**

**EXTRA EXERCISE**
<br>*Ask the user for an amount of mexican pesos so it can be converted to dollars. Consider that $19.92 MXN is equivalent to 1 USD*