# <center>Conditionals</center>

In this file we will see:
1. Boolean expressions
2. Logical operators
3. Conditional execution
4. Alternative execution
5. Chained conditionals
6. Nested Conditionals
7. Exercises

## 1. Boolean expressions

* A **boolean expression** is an expression that is either <font color=red>true</font> or <font color=red>false</font>.
* In the following examples, we use the operator **==** to compare two operands and produce either *True* or *False*

In [1]:
5 == 5

True

In [2]:
5 == 6

False

### 1.1 Relational operators

There are some relational operators that we can use to compare two values:

In [3]:
x = 8
y = 7

In [4]:
# x is not equal to y
x!=y

True

In [5]:
# x is greater than y
x > y

True

In [6]:
# x is less than y
x < y

False

In [7]:
# x is greater than or equal to y
x >= y

True

In [8]:
# x is less than or equal to y
# 8 <= 7
x <= y

False

<font color=red>Remember that we use:
<br> A single equal sign **=** for assignment
<br> And double equal sign **==** as a relational operator</font>

## 2. Logical operators

There are three **logical operators**:
* and
* or
* not
<br>
And the meaning of these operators is similiar to their meaning in English

In [10]:
# and logical operator
x = 10
x > 0 and x < 10

False

In [11]:
# or logical operator
num = 2
num % 2 == 0 or num % 3 == 0

True

In [12]:
# not logical operator
value1 = 12
value2 = 17

not(value1 > value2)

True

## 3. Conditional execution

* We can use **conditional statements** when we want to check some conditions and change the behavior of our programm depending on the condition.
* The simplest form is using the **if statement**

**Example 1. Determine if a person in Mexico can vote**

In [13]:
age = 13
if age >= 18:
    print("Can vote")

**Example 2. Determine if a person in Mexico can vote**

In [14]:
x = 0
if(x > 0):
    print("Positive")

## 4. Alternative execution

A second form of the if statement is **alternative execution**, in which there are two possibilities and the condition determines which one gets executed.

**Example 1. Determine if a number is even or odd**

In [15]:
num = 12
if (num % 2 == 0):
    print(num, "is even")
else:
    print(num, "is odd")

12 is even

**Example 2. Determine if a number is positive or negative**

In [16]:
num = -14
if (num > 0):
    print(num, "is positive")
else:
    print(num, "is equal to zero or negative")

-14 is equal to zero or negative

## 5. Chained conditionals

Sometimes there are more than two possibilities and we need more than two branches. We can express that computation with a **chained conditional**

**Example 1. Determine if a number is positive, negative or equal to zero**

In [17]:
num = 18
if (num > 0):
    print(num, "is positive")
elif(num == 0):
    print(num, "is zero")
else:
    print(num, "is negative")

18 is positive

**Example 2. Determine if x is greater, equal or less than y**

In [19]:
x = 18
y = 17
if (x > y):
    print(x, "is greater than", y)
elif(x == y):
    print(x, "is equal to", y)
else:
    print(x, "is less than", y)

18 is greater than 17

<font color=red>Note that **elif** is an abbreviation of "else if"</font>

## 6. Nested conditionals

* One conditional can also be **nested** within another. 
* We could have written the previous example like this:

**Example 1. Determine if x is greater, equal or less than y using a nested conditional**

In [20]:
x = 18
y = 17
if (x > y):
    print(x, "is greater than", y)
else:
    if(x == y):
        print(x, "is equal to", y)
    else:
        print(x, "is less than", y)

18 is greater than 17

----

## 7. Exercies

**1. Determine if a number is divided by 3, 5 or both**

**2. Determine if an employee is eligible for retirement. Retirement at 65.**

**3. Determine if Pedro is younger or older than Mary. Consider that Pedro is 13 and Mary 17.**

**4. Given three numbers, determine which one is bigger.**
<br><code>x = 12, y = 7, z = 8 </code>

**5. Given the weather of the city, propose a recommendation to the user.**
<br> *For instance, if weather is sunny, recommend to use sunscreen*

**EXTRA EXERCISE**
<br>*Make a program that converts from dollars to mexican pesos or viceversa. Consider asking the user for the amount to be converted.*