# <center>Iteration</center>

In this file we will see:
1. [Multiple assignment](#multiple_assignment)
2. [Updating variables](#updating_variables)
3. [The <code>While</code> statement](#while_statement)
4. [<code>For</code> statement](#for_statement)
5. [Nested iteration](#nested_iteration)
6. [The <code>zip</code> function](#zip_function)
7. [Exercises](#exercises)

<a id = "multiple_assignment">

## 1. Multiple assignment

* We can make more than one assignment to the same variable.
* A new assignment makes an existing variable refer to a new value (and stop refering to the old value)

**Example 1. Assigning a new value to a variable**

In [ ]:
cost = 23
print("Before new assignment", cost)
cost = 99
print("After new assignment", cost)

**Example 2. Assign the value of a variable to another variable**

In [ ]:
a = 7
b = a
a = 3
print("A =", a,"\nB =", b)

<a id = "updating_variables">

## 2. Updating variables

One of the most commons forms of multiple assignment is an **update**, where the new value depends on the old one:

**Example 1. Adding one to a variable $x$**

In [ ]:
x = 2
x = x + 1
print(x)

**Example 2. Someone's birthday**

In [ ]:
age = 18
age = age + 1
print(age)

**Example 3. Countdown**

In [ ]:
countdown = 3
countdown = countdown - 1
print(countdown)

### 2.1 Shortcuts for updating a variable

There's a form where we can update a variable without using the whole name:

**Example 1. Adding one**

In [ ]:
x = 2
x += 1 # x = x + 1
print(x)

**Example 2. Subtracting three**

In [ ]:
countdown = 9
countdown -= 3
#countdown = countdown - 3
print(countdown)

**Example 3. Multipyling by 2**

In [ ]:
x = 2
x *= 2
#x = x * 2
x

<font color=red> Updating a variable by adding 1 is called an **increment**; subtracting 1 is called **decrement.**</font>

<a id = "while_statement">

## 3. The while statement

* Computers are often used to automate repetitive tasks.
* Repeating identical or similar tasks without making errors is easy for computers.
* We can read the **while** statement as if it were English:

### 3.1 The while statement syntax

```python
variable initalization
while <condition that evaluates the variable>:
    # statement(s) in case the condition is True
    update of the variable

program continuation
```

**Example 1. Printing $n$ times "Hello World"**

In [ ]:
n = 5
while n > 0: 
    print("Hello, World!")
    n -= 1

print("Goodbye, World!")

**Example 2. Permission to vote**

In [ ]:
age = 14

while age < 18:
    print("Your age is", age)
    print("You cannot vote yet!")
    age += 1
    
print("Now you are", age, "years old, you can vote!")

**Example 3. Total days until Christmas!**

In [ ]:
daysUntilChristmas = 10
while daysUntilChristmas > 0:
    print(daysUntilChristmas, "days left until Christmas!")
    daysUntilChristmas -= 1
    #daysUntilChristmas = daysUntilChristmas - 1 
    
print("Merry Christmas!!")

### 3.2 Infinite loop

<font color=red>It's important to update the variable that is inside the while condition. Otherwise, we will have an **INFINITE LOOP**.</font>

**Example 1. Infinite loop**

In [ ]:
# Uncomment the following code to see an infinite loop!
# n = 0

# while n < 5:
  #  print("Hello, World!")

**Example 2. Classic infinite loop**

In [ ]:
# Uncomment the following code to see an infinite loop!
#while True:
    #print("I am in an infinite loop!")

### 3.3 break

* Sometimes we don't know if it's time to end a loop until we are half way through the body.
* In that case we can use the **break** statement to jump out of the loop.

**Example 1. Non-valid score**

In [ ]:
score = int(input("Give me a score: "))

while True:
    if(score < 0 or score > 10):
        print("Not a valid score!")
        break
    else:
        print("Your score is: ", score)
    score = int(input("Give me another score: "))

----

<a id = "for_statement">

## 4. For statement

* First we will see a brief introduction of lists in order to use them in loops.
* A **list** can be defined as follows:

In [ ]:
group_animals = ["dog", "cat", "lion", "gorila"]

And we can access each animal by its index

In [ ]:
group_animals[0]

In Python we can use **for loop** to iterate over the items of any sequence (a list or a string), in the order that they appear in the sequence.

### 4.1 The for statement syntax

``` python
for <variable> in <sequence>:
    statement(s) 
    
program continuation
```

**Example 1. Printing all the elements of a list**

In [ ]:
for animal in group_animals:
    print(animal)

<font color=red>Note the use of the reserved keywords **for** and **in.**</font>

**Example 2. Printing all the characters of a string**

In [ ]:
greetings = "Hello!!" 
greetings

In [ ]:
for character in greetings:
    print(character)

Note that a string can be seen as a character list, which contains all the characters present in the string.

**Example 3. Printing a list of scores**

In [ ]:
scores = [8, 7, 9, 10]
for sc in scores:
    print(sc, end = " ")

**Example 4. Printing a list of float values**

In [ ]:
floatScores = [8.3, 7.2, 9.1, 10.0, 8.7]
for score in floatScores:
    print(score, end = " ")

### 4.2 The <code><font color = blue;>enumerate()</font></code> function

So far, we have printed elements of a sequence, list, or string. But if we would like to print also the indices of the sequence, we can use the <code><font color = blue;>enumerate()</font></code> function.

**Example 1. A list of students with indices**

In [ ]:
students = ["Mary", "Peter", "Will", "Jhon"]
for index, student in enumerate(students):
    print("The student #", (index + 1), "is", student)

**Example 2. Indices of a list of scores**

In [ ]:
myScoresList = [8.3, 7.2, 9.1, 10.0, 8.7]
for ind, sc in enumerate(myScoresList):
    print("#", (ind + 1), "-", sc)

### 4.3 The  <code><font color = blue;>range()</font></code> function

* If we need to iterate over a sequence of numbers, the built-in function <code><font color = blue;>range()</font></code> comes in handy. 
* It generates arithmetic progressions.

**Example 1. Print the first ten values**

In [ ]:
for i in range(10):
    print(i, end = " ")

**Example 2. Determining the start and end values of the sequence**

We can give two parameters to the <code><font color = blue;>range()</font></code> function to determine the start and the end values of the sequence.

In [ ]:
for x in range(10,16):
    print(x, end = " ")

**Example 3. Adding a step**

Furthermore, we can add another parameter to determine the step of the sequence.

In [ ]:
for num in range(4,20,2):
    print(num, end = " ")

**Example 4. Printing a sequence backwards**

In [ ]:
for x in range(20, -1, -2):
    print(x, end = " ")

### 4.4 The  <code><font color = blue;>len()</font></code> function

We can use the <code><font color = blue;>len()</font></code> function to get the total elements in a sequence, list or string.

In [ ]:
group_animals

**Example 1. Length of a list of strings**

In [ ]:
len(group_animals)

**Example 2. Length of a long string**

In [ ]:
longString = 'This is a really long text!'

In [ ]:
len(longString)

### 4.5 Using <code><font color = blue;>range()</font></code> and <code><font color = blue;>len()</font></code> together

We can use the combination of these two methods to iterate over the indices of a sequence.

**Example 1. Printing the indices of a list of students**

In [ ]:
students = ["Mary", "Peter", "Helen", "Jhon", "Brad", "Brian"]
students

In [ ]:
for i in range(len(students)):
    print(i, end = " ")

**Example 2. Printing the elements of the list using indices**

In [ ]:
for i in range(len(students)):
    print(students[i], end = " ")

**Example 3. Printing the indices and elements of a list of students**

In [ ]:
for i in range(len(students)):
    print(i, students[i])

<a id = "nested_iteration">

## 5. Nested iteration

We have seen many examples of loops, but now we can see loops inside another loop. Let's look at the following example to see the importance of a nested iteration.

**Example 1. Nested loops using a while loop**

In [ ]:
outer = 1
while outer < 4:
    print("Outer loop with value = ", outer)
    inner = 7
    while j < 10:
        print("Inner loop with value = ", inner)
        inner += 1
    outer += 1

**Example 2. Nested loops using a for loop**

In [ ]:
for outer in range(1, 4):
    print("Outer loop with value = ", outer)
    for inner in range(7,10):
        print("Inner loop with value = ", inner)

**Example 3. Using nested loops to do a computation**

In [ ]:
for i in range(2,5):
    for j in range(2,5):
        print(i, "+", j, "=", i + j)

----

## 5.1. How does a nested loop work behind scenes?

In [ ]:
import time as t

**Example 1. Using the time library**

In [ ]:
t.sleep(3)
print(t.ctime())

**Example 2. Nested loops behind scenes**

In [ ]:
for lap in range(20):
    print("I am running the lap #", lap)
    t.sleep(5)
    for meter in range(100, 1001, 100):
        print("I have run", meter, "meters")
        t.sleep(3)

----

## Differences between for, for each and while

<table style="border: 1px solid black;">
    <tr style="border: 1px solid black;" >
        <th><center> </center></th>
        <th style=background-color:#3396ff;><center> When to use it? </center></th>
        <th style=background-color:#3396ff;><center> Characteristics </center></th>
        <th style=background-color:#3396ff;><center> Examples </center></th>
    </tr>
    <tr style="border: 1px solid black;">
        <td style= "background-color:#33c7ff;"> <p style="text-align:left;background-color:#33c7ff;"> For </p></td>
        <td style="border: 1px solid black;"> <p style="text-align:left;">When we know the exact amount of elements we are handling</p> </td>
        <td style="border: 1px solid black;"> <p style="text-align:left;"> We must use the <code>range</code> function</p> </td>
        <td style="border: 1px solid black;"> <p style="text-align:left;"> Print the first 100 int numbers</p> </td>
    </tr>
    <tr style="border: 1px solid black;">
        <td style= "background-color:#33c7ff;"> <p style="text-align:left;"> For each </p></td>
        <td style="border: 1px solid black;"> <p style="text-align:left;"> When we have a list or a sequence of numbers</p> </td>
        <td style="border: 1px solid black;"> <p style="text-align:left;"> It iterates over the elements of the list or the sequence</p> </td>
        <td style="border: 1px solid black;"> <p style="text-align:left;"> Print the elements of a to-do list</p> </td>
    </tr>
    <tr style="border: 1px solid black;">
        <td style= "background-color:#33c7ff;"> <p style="text-align:left;"> While </p></td>
        <td style="border: 1px solid black;"> <p style="text-align:left;">When we do not know exactly when the program will end</p> </td>
        <td style="border: 1px solid black;"> <p style="text-align:left;">We must declare the stop condition of the loop</p> </td>
        <td style="border: 1px solid black;"> <p style="text-align:left;">Determine when a player has won</p> </td>
    </tr>
</table>

----

<a id = "zip_function">

## 6. The <code><font color = blue;>zip()</font></code> function

To loop over two or more sequences at the same time, the entries can be paired with the <code><font color = blue;>zip()</font></code> function.

**Example 1. Printing students' names with their respective id**

In [ ]:
stud_names = ['Ben', 'Ken', 'Lois', 'Mary']
stud_id = ['102155', '111423', '117423', '127138']

In [ ]:
for _id, stud in zip(stud_id, stud_names):
    print("ID:", _id, "Name:", stud )

**Example 2. Printing students' names, id and email**

In [ ]:
stud_email = ["ben@email.com", "ken@email.com", "lois@email.com", "mary@email.com"]

In [ ]:
for _id, stud, email in zip(stud_id, stud_names, stud_email):
    print("ID:", _id, "Name:", stud, "email:", email)

<a id = "exercises">

## 7. Exercises

**1. Determine if a number is even or odd in the following list.** 

$$[84, 17, 11, 78, 12, 13, 81, 74]$$

**2. Given the following score, determine which student approves and which one doesn't.** 

$$[6.5, 7.8, 5.6, 10, 10, 7.3]$$

**3. Using the previous score list, print the average of the list.**

**4. Print the seven multiplication table**

**5. Print the multiplication tables for the values from 2 to 12**

**6. Print the first 10 multiples of seven with their respective indices:** 

**1 $\rightarrow$ 7**

**2 $\rightarrow$ 14**

**3 $\rightarrow$ 21**

**$ ... $**

**10 $\rightarrow$ 70**

**7. Given a number $n$ from the user, determine all its divisors. A divisor divides the number without any remainder.**

**8. Given a number $n$ from the user, determine if it is prime or not.**

**9. Given two sorted arrays, find the elements of the intersection between them.** 

*Example 1:*

$ a = [1, 2, 2, 4, 5],  b = [0, 2, 2, 4, 4, 4, 6, 9]$

**The intersection is $[2, 4]$**

*Example 2:*

$ a = [4, 6, 8], b = [5, 7, 9]$

**The intersection is $[]$**

**10. Make a "game" that determines if an user has guessed a number between 1 and 100, following the next steps:** 

1. The game should ask the gamer for a number and only respond whether he/she is right or not.
2. Some hints should be given to the user, so the gamer can determine if the given number is greater or less than the number to guess.
3. The number to guess should be a random number.
4. Give only 6 chances to the user to guess the number.
5. The user should be informed if he or she lost and what was the correct number.

### Extra exercises

**Print the following pyramides of size $n$.**

In [ ]:
altura = 10

```
**********
*********
********
*******
******
*****
****
***
**
*
```

In [ ]:
#1. Introduce your code for the pyramid above

```
*
**
***
****
*****
******
*******
********
*********
**********
```

In [ ]:
#2. Introduce your code for the pyramid above

```
         * 
        ** 
       *** 
      **** 
     ***** 
    ****** 
   ******* 
  ******** 
 ********* 
********** 
```

In [ ]:
#3. Introduce your code for the pyramid above

```
********** 
 ********* 
  ******** 
   ******* 
    ****** 
     ***** 
      **** 
       *** 
        ** 
         *
```

In [ ]:
#4. Introduce your code for the pyramid above