# <center>Strings</center>

In this file, we will focus on Strings and the main methods.
1. Strings

## 1. Strings

Besides the numbers, in Python we can manipulate strings. To refer a string, we can use either single quote ('...') or double quote("...")

In [43]:
greetings = "Hello, World!"
greetings

'Hello, World!'

In [44]:
goodbye = 'Goodbye, World'
goodbye

'Goodbye, World'

<font color = red> Remember we can use the **(+)** to concatenate strings and the **(*)** operator to repeat many times a string

In [45]:
string1 = "Hello"
string2 = " World!"
print(string1 + string2)

Hello World!

In [46]:
# Do you remember what does the following expression returns?
print(greetings * 3)

Hello, World!Hello, World!Hello, World!

### 1.1 Printing longs strings

In [47]:
text = ('Sometimes we have a really long string that does not fit in '
        'only one line. So in that case we can use the parentheses to '
        'surround the text and single or double quote in each line '
        'of the string'
       )
print(text)

Sometimes we have a really long string that does not fit in only one line. So in that case we can use the parentheses to surround the text and single or double quote in each line of the string

In [48]:
longText = 'Sometimes we have a really long string that does not fit in only one line. So in that case we can use the parentheses to surround the text and single or double quote in each line of the string'
longText

'Sometimes we have a really long string that does not fit in only one line. So in that case we can use the parentheses to surround the text and single or double quote in each line of the string'

### 1.2 Indices

Strings can be indexed, but remember that the first element of the string corresponds to the index **0**.

In [49]:
word = 'python is a great programming language'
word[0]

'p'

In [50]:
shortWord = "Ape"
#shortWord[4]

<font color = red> Indices can also be negative, starting from the right of the string as the starting point.

In [51]:
#print(shortWord[-1])
#print(shortWord[-2])
#print(shortWord[-6])

### 1.3 Slices

Besides indices, we can use slices or *chunks* of a string. Slices allows us to obtain sub-strings.

In [52]:
word[2:7]

'thon '

In [53]:
word[:6]

'python'

In [54]:
word[6:]

' is a great programming language'

**Exercise 1. Print only the sub-string "language" from the variable named word**

### 1.3.1 Slices visualization

This is a visual way to remember how slices work in Python

In [55]:
print('+---+---+---+---+---+---+\n' 
      '| P | y | t | h | o | n |\n'
      '+---+---+---+---+---+---+\n'
      '0   1   2   3   4   5   6\n'
      '-6  -5  -4  -3  -2  -1  \n'
     )

+---+---+---+---+---+---+
| P | y | t | h | o | n |
+---+---+---+---+---+---+
0   1   2   3   4   5   6
-6  -5  -4  -3  -2  -1

### 1.4 The <code>len()</code> function

We can use the <code>len()</code> function to obtain the amount of characters that a word has.

**Example 1. Amount of characters of the word string**

In [56]:
string = "supercalifragilisticexpialidocious"
len(string)

34

**Example 2. Amount of characters of the variable text**

In [57]:
len(text)

192

## 2. Useful string functions

There are some pre-built functions in Python that can be used in Strings. Some of them will help us to manipulate text and show the string as we want.

### 2.1 <code>isalnum()</code> function

The <code>isalnum()</code>method returns *True* if all the characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9).

**Example 1. All characters are alphanumeric**

In [58]:
team = "FSVMainz05"
team.isalnum()

True

**Example 2. Not all characters are alphanumeric**

In [59]:
str1 = "FSV Mainz 05"
str1.isalnum()

False

### 2.2 <code>isdigit()</code> function

The <code>isdigit()</code>method returns *True* if all the characters are digits.

**Example 1. Not all characters are digits**

In [60]:
digit_or_not = "JUCV981201BV7"
digit_or_not.isdigit()

False

### 2.3 <code>isalpha()</code> function

The <code>isalpha()</code>method returns *True* if all the characters are alphabet letters(a-z).

**Example 1. All digits in a name are alphabet**

In [61]:
name = "Robert"
name.isalpha()

True

### 2.4 <code>islower()</code>  and  <code>isupper()</code>functions

The <code>islower()</code> method returns *True* if all the characters are in lower case, otherwise *False*.

Numbers, symbols and spaces are not checked, only alphabet characters.

Similarly, the <code>isupper()</code> method returns *True* if all the characters are in upper case, otherwise *False*.

**Example 1. A last name**

In [62]:
last_name = "Robins"
last_name.islower()

False

**Example 2. An unique ID**

In [63]:
unique_id = "RFCJ"
unique_id.isupper()

True

### 2.5 <code>lower()</code>  and  <code>upper()</code>functions

The <code>lower()</code> method returns a string where all characters are lower case.

Also, the <code>upper()</code> ethod returns a string where all characters are upper case.

Symbols and Numbers are ignored.

**Example 1. Converting to lower case**

In [64]:
txt = "Hello ALL"
txt.lower()

'hello all'

**Example 2. Converting to upper case**

In [65]:
programming_lang = "JavaScript"
programming_lang.upper()

'JAVASCRIPT'

### 2.6 <code>find()</code> function

The <code>find()</code>  method finds the first occurrence of the specified value.

The <code>find()</code>  method returns -1 if the value is not found.

**Example 1. Searching in a long text**

In [74]:
text

'Sometimes we have a really long string that does not fit in only one line. So in that case we can use the parentheses to surround the text and single or double quote in each line of the string'

In [75]:
text.find("quote")

160

**Example 2. Element not found**

In [76]:
text.find("queue")

-1

**Example 3. Searching in a substring**

In [73]:
text.find("in", 0, 10)

-1

### 2.7 <code>replace()</code> function

The <code>replace()</code>  method replaces a specified phrase with another specified phrase.

**Example 1. Change of mind**

In [81]:
str2 = "I love sushi"
str2 = str2.replace("sushi", "pizza")
str2

'I love pizza'

### 2.8 <code>split()</code> function

The <code>split()</code> method splits a string into a list.

You can specify the separator, default separator is any whitespace.

**Example 1. Converting my long text into a list**

In [83]:
text

'Sometimes we have a really long string that does not fit in only one line. So in that case we can use the parentheses to surround the text and single or double quote in each line of the string'

In [84]:
text.split(' ')

['Sometimes',
 'we',
 'have',
 'a',
 'really',
 'long',
 'string',
 'that',
 'does',
 'not',
 'fit',
 'in',
 'only',
 'one',
 'line.',
 'So',
 'in',
 'that',
 'case',
 'we',
 'can',
 'use',
 'the',
 'parentheses',
 'to',
 'surround',
 'the',
 'text',
 'and',
 'single',
 'or',
 'double',
 'quote',
 'in',
 'each',
 'line',
 'of',
 'the',
 'string']

**Example 2. Spliting an e-mail**

In [86]:
mail = "juan.ramirezca@gmail.com"
mail.split("@")

['juan.ramirezca', 'gmail.com']

<table>
    <tr>
        <th><center> </center></th>
        <th style=background-color:#3396ff;><center> When to use it? </center></th>
        <th style=background-color:#3396ff;><center> Example </center></th>
    </tr>
    <tr>
        <td style= "background-color:#33c7ff;"> <p style="text-align:left;background-color:#33c7ff;"> Indices </p></td>
        <td> <p style="text-align:left;">When we want to access a specific character of a string</p> </td>
        <td> <p style="text-align:left;"> word[4]</p> </td>
    </tr>
        <tr>
        <td style= "background-color:#33c7ff;"> <p style="text-align:left;"> Slices </p></td>
        <td> <p style="text-align:left;"> When we want a sub-string</p> </td>
        <td> <p style="text-align:left;"> word[2:6]</p> </td>
    </tr>
        <tr>
        <td style= "background-color:#33c7ff;"> <p style="text-align:left;"> Len( ) function</p></td>
        <td> <p style="text-align:left;">To know the length of a string</p> </td>
        <td> <p style="text-align:left;">len(word)</p> </td>
    </tr>
</table>

## 3. Exercises

**1. Given any string by the user, determine if the word is a palindrome or not.**

*Note: A palindrome is a word that is read the same forward than backwards. For instance, Ana.*

In [89]:
tup = (1,2,3)

In [90]:
tup.count(1)

1

In [91]:
tup.index(3)

2

In [92]:
tup.replace()

AttributeError: 'tuple' object has no attribute 'replace'