# <center>Basic data structures</center>

In this file, we will cover the main data structures that are available in Python:
1. Lists
2. Tuples
3. Sets
4. Dictionary

## 1. Lists

* Python knows a number of *compound data types*, used to group together values. The most versatile is the list, which can be written as a list of comma-separated values(items) between square brackets.
* Lists might contain items of different types, but usually the items all have the same type

In [1]:
# Integer list
scores = [10, 8, 7]
scores

[10, 8, 7]

In [2]:
# String list
careers = ['Maths', 'Economy', 'Computer', 'Data Science']
careers

['Maths', 'Economy', 'Computer', 'Data Science']

In [3]:
# Float list
sales = [23.5, 72.3, 88.17, 11.2]
sales

[23.5, 72.3, 88.17, 11.2]

In [4]:
# Different value types
mixedList = [1, 'apple', 3.14, False]
mixedList

[1, 'apple', 3.14, False]

### 1.1 Indices

Such as strings, lists also can be indexed

In [5]:
squareNumbers = [1,4,9,16,25]

In [10]:
# What does the following statements will print?
#squareNumbers[2]
#squareNumbers[0]
#print(squareNumbers[-1])
# print(len(squareNumbers))
#squareNumbers[7]

### 1.2 Slices

A slice operation returns a new list cotaining the requested element.

In [11]:
squareNumbers

[1, 4, 9, 16, 25]

In [12]:
# What does the following statements will print?
#squareNumbers [2:3]
#squareNumbers [:3]
#squareNumbers [3:]
squareNumbers [:]

[1, 4, 9, 16, 25]

### 1.3 <code>Len()</code>function

In [13]:
# We can use the pre-built function len( )
len(squareNumbers)

5

### 1.4 Lists of lists

We can also have a list of lists

In [14]:
list1 = [1,2,3]
list2 = [4,5,6]
numberList = [list1, list2]
numberList

[[1, 2, 3], [4, 5, 6]]

In [15]:
# 2x3
[
 [1, 2, 3],   
 [4, 5, 6]
]

[[1, 2, 3], [4, 5, 6]]

In [16]:
letters = ['a', 'b', 'c']
numbers = [2, 4, 6]
x = [letters, numbers]
# What's the length of the list 'x'?
len(x)

2

## 1.5 Most commonly used functions on lists

Now we will se some of the most commonly used functions on list in Python. But first we will create a list of elements.

In [17]:
fruits = ['apple', 'kiwi', 'papaya', 'banana', 'papaya', 'kiwi', 'mango', 'strawberry']
fruits

['apple', 'kiwi', 'papaya', 'banana', 'papaya', 'kiwi', 'mango', 'strawberry']

### 1.5.1 Append

Adds an item to the end of the list

In [18]:
fruits.append('orange')
fruits

['apple',
 'kiwi',
 'papaya',
 'banana',
 'papaya',
 'kiwi',
 'mango',
 'strawberry',
 'orange']

### 1.5.2 Insert

* Inserts an item at a given position.
* The first argument is the index of the element before which to insert

In [19]:
fruits

['apple',
 'kiwi',
 'papaya',
 'banana',
 'papaya',
 'kiwi',
 'mango',
 'strawberry',
 'orange']

In [20]:
# insert(position, element to insert)
fruits.insert(0, 'cantaloupe')
fruits

['cantaloupe',
 'apple',
 'kiwi',
 'papaya',
 'banana',
 'papaya',
 'kiwi',
 'mango',
 'strawberry',
 'orange']

In [21]:
fruits.insert(3,'watermelon')
fruits

['cantaloupe',
 'apple',
 'kiwi',
 'watermelon',
 'papaya',
 'banana',
 'papaya',
 'kiwi',
 'mango',
 'strawberry',
 'orange']

### 1.5.3 Remove

* Removes the first item from the list whose value is equal to x.
* An *ValueError* is raised if there is no such element

In [22]:
#fruits.remove('papaya')
#fruits.remove('cantaloupe')
fruits.remove('guava')
fruits

ValueError: list.remove(x): x not in list

### 1.5.4 Clear

Removes all items from the list

In [23]:
fruits = ['apple', 'kiwi', 'papaya', 'banana', 'papaya', 'kiwi', 'mango', 'strawberry']
fruits

['apple', 'kiwi', 'papaya', 'banana', 'papaya', 'kiwi', 'mango', 'strawberry']

In [24]:
fruits.clear()
fruits

[]

### 1.5.5 Pop

* Removes an item at a given position in the list, and returns it.
* If no index is specified, then it removes and returns the last item in the list

In [25]:
fruits

[]

In [26]:
# Remove the item at the given position in the list, and return it
#fruits.pop(1)
#fruits
#fruits.pop()
fruits

[]

### 1.5.6 Count

Returns the number of times an item appears in the list

In [27]:
fruits

[]

In [28]:
fruits.count('mango')

0

### 1.5.7 Sort

* Sorts the items of the list.
* We can use the reverse argument to sort in a descending way

In [29]:
fruits

[]

In [30]:
fruits.sort()
fruits

[]

In [31]:
fruits.sort(reverse=True)
fruits

[]

### 1.5.8 Reverse

Reverses the elements of the list

In [32]:
fruits = ['apple', 'kiwi', 'papaya', 'banana', 'papaya', 'kiwi', 'mango', 'strawberry']

In [33]:
fruits

['apple', 'kiwi', 'papaya', 'banana', 'papaya', 'kiwi', 'mango', 'strawberry']

In [34]:
fruits.reverse()
fruits

['strawberry', 'mango', 'kiwi', 'papaya', 'banana', 'papaya', 'kiwi', 'apple']

### 1.5.9 Copy

Returns a copy of the list

In [35]:
fruits2 = fruits.copy()
fruits2

['strawberry', 'mango', 'kiwi', 'papaya', 'banana', 'papaya', 'kiwi', 'apple']

In [36]:
fruits

['strawberry', 'mango', 'kiwi', 'papaya', 'banana', 'papaya', 'kiwi', 'apple']

In [37]:
fruits2

['strawberry', 'mango', 'kiwi', 'papaya', 'banana', 'papaya', 'kiwi', 'apple']

In [38]:
fruits2.pop()

'apple'

In [39]:
fruits2.clear()

In [40]:
fruits2

[]

In [41]:
fruits

['strawberry', 'mango', 'kiwi', 'papaya', 'banana', 'papaya', 'kiwi', 'apple']

### 1.5.10 Del statement

* Removes an element of a list by it's index
* We can also remove slices of a list

In [42]:
fruits

['strawberry', 'mango', 'kiwi', 'papaya', 'banana', 'papaya', 'kiwi', 'apple']

In [43]:
del fruits[3]
fruits

['strawberry', 'mango', 'kiwi', 'banana', 'papaya', 'kiwi', 'apple']

In [44]:
del fruits[2:4]
fruits

['strawberry', 'mango', 'papaya', 'kiwi', 'apple']

In [45]:
del fruits2[:]

In [46]:
fruits2

[]

In [47]:
del fruits[6]

IndexError: list assignment index out of range

### Summary

Suppose we have a list **l** and an element **e** and an index **pos**.
<table>
    <tr>
        <th style=background-color:#3396ff;><center> List method </center></th>
        <th style=background-color:#3396ff;><center> Example </center></th>
        <th style=background-color:#3396ff;><center> Definition </center></th>
    </tr> 
    <tr>
        <td> <p style="text-align:left;"> 1. Append </p></td>
        <td style = "text-align:left;"> <code> l.append('e') </code> </td>
        <td> <p style="text-align:left;"> Adds an item to the end of the list</p> </td>
    </tr>
    <tr>
        <td> <p style="text-align:left;"> 2. Insert </p></td>
        <td style = "text-align:left;"> <code> l.insert(pos,'e') </code> </td>
        <td> <p style="text-align:left;"> Inserts an iten at a given position</p> </td>
    </tr>
        <tr>
        <td> <p style="text-align:left;"> 3. Remove</p></td>
        <td style = "text-align:left;"> <code> l.remove('e') </code> </td>
        <td> <p style="text-align:left;">Removes the first item from the list whose value is equal to 'e'</p> </td>
    </tr>
        <tr>
        <td> <p style="text-align:left;"> 4. Clear </p></td>
        <td style = "text-align:left;"> <code> l.clear() </code> </td>
        <td> <p style="text-align:left;"> Removes all items from the list</p> </td>
    </tr>
        <tr>
        <td> <p style="text-align:left;"> 5. Pop</p></td>
        <td style = "text-align:left;"> <code> l.pop(pos) </code> </td>
        <td> <p style="text-align:left;"> Removes an item at a given position in the list</p> </td>
    </tr>
        <tr>
        <td> <p style="text-align:left;"> 6. Count </p></td>
        <td style = "text-align:left;"> <code> l.count('e') </code> </td>
        <td> <p style="text-align:left;"> Returns the number of times an item appears in a list</p> </td>
    </tr>
        <tr>
        <td> <p style="text-align:left;"> 7. Sort </p></td>
        <td style = "text-align:left;"> <code> l.sort() </code> </td>
        <td> <p style="text-align:left;"> Sorts the items of the list</p> </td>
    </tr>
        <tr>
        <td> <p style="text-align:left;"> 8. Reverse </p></td>
        <td style = "text-align:left;"> <code> l.reverse() </code> </td>
        <td> <p style="text-align:left;"> Reverses the elements of the list</p> </td>
    </tr>
        <tr>
        <td> <p style="text-align:left;"> 9. Copy</p></td>
        <td style = "text-align:left;" > <code> l2 = l.copy() </code> </td>
        <td> <p style="text-align:left;"> Returns a copy of the list l1</p> </td>
    </tr>
        <tr>
        <td> <p style="text-align:left;"> 10. Del statement </p></td>
        <td style = "text-align:left;"> <code> del l[2:4] </code> </td>
        <td> <p style="text-align:left;"> Removes an element(s) of a list by index (or slices)</p> </td>
    </tr>
       
        
</table>

### 1.6 List Comprehensions

* **List comprehension** provides a concise way to create list.
* It is common to make new lists where each element is the result of some operations applied to each member of another sequence or iterable
* Or to create a subsequence of those elements that satisfy a certain condition.

In [48]:
squares = []
squares

[]

In [49]:
# 0, ... , 9
for x in range(10):
    squares.append(x**2)

In [50]:
# So far this is the way we have seen to create a list of the first 10 square numbers
squares = []
for x in range(1, 11):
    squares.append(x**2)

squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [51]:
squares = [(x**2) for x in range(10)]

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

* <font color = red> A *list comprehension* consists of an **expression** surrounded by parentheses followed by a *for* clause, then zero or more *for* or *if* clauses.
* The result will be a new list resulting from evaluating the given expression in the context of the following clauses

In [52]:
#Example 1.
[(x,y) for x in [1,2,3] for y in [3,1,4] if x!=y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [53]:
#Likely
comb = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x!= y:
            comb.append((x,y))
comb

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [54]:
#Example 2.
vector = [-8, -4, 0, 4, 8]
[(x*2) for x in vector if x < 0]

[-16, -8]

### 1.6.1 Exercises

In [55]:
# Exercise 1. Create a list using list comprehension that contains the first 10 even numbers
# 2, 4, 6, 8, 10, ...

#[(x) for x in range(20) if x % 2 == 0]
[(x) for x in range(0,20,2)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [56]:
import math as m

In [57]:
# Exercise 2. Create a list using list comprehension that contains the square root numbers of the following list
list2 = [36, 64, 100, 121, 169, 625]
[m.sqrt(x) for x in list2]

[6.0, 8.0, 10.0, 11.0, 13.0, 25.0]

In [58]:
# Exercise 3. Given a list of scores, create a list using list comprehension with only those students whose 
# score is greater or equal to 6
scores = [2.5, 8.3, 10, 9.8, 9.1, 8.5, 5.6, 8.7, 2.8]
approved = [x for x in scores if x >= 6]
approved

[8.3, 10, 9.8, 9.1, 8.5, 8.7]

In [59]:
# 3.1 How many students approved?
# 3.2 Order the list in a descending way
approved.sort(reverse = True)
approved

[10, 9.8, 9.1, 8.7, 8.5, 8.3]

In [60]:
# Exercise 4. Given the following matrix, transpose the matrix using list comprehension
matrix = [
    [ 1, 2, 3, 4],
    [-1, 0, 1, 0],
    [ 7, 3, 1, 2]
]

In [61]:
len(matrix[2])

4

In [62]:
[[row[i] for row in matrix] for i in range(len(matrix[0]))]

[[1, -1, 7], [2, 0, 3], [3, 1, 1], [4, 0, 2]]

In [63]:
# Transposing the matrix using for loops
transposed = []
for i in range(len(matrix[0])):
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)
transposed

[[1, -1, 7], [2, 0, 3], [3, 1, 1], [4, 0, 2]]

## 2. Tuples

A tuple consists of a number of values separated by commas.
* Tuples may be nested
* Tuples are immutable

In [64]:
t = 123, 456, "Hello!"
t

(123, 456, 'Hello!')

In [65]:
type(t)

tuple

In [66]:
# Nesting tuples
u = t, (2,4,6)
u

((123, 456, 'Hello!'), (2, 4, 6))

In [67]:
#Accessing an element of a tuple
u[0]

(123, 456, 'Hello!')

In [68]:
# Tuples are immutable
u[0] = 123

TypeError: 'tuple' object does not support item assignment

Tuples usuallly contain a heterogeneous sequence of elements that can be accessed via unpacking or indexing

In [69]:
person1 = 121013, "Mathematics", "Roberto"
person1

(121013, 'Mathematics', 'Roberto')

In [70]:
# Accessing via sequence unpacking
id, career, name = person1

In [71]:
print(career)

Mathematics

In [72]:
person2 = 171211, "Economy", "Maria"
person2

(171211, 'Economy', 'Maria')

In [73]:
#Accessing via indexing
id2 = person2[0]
career2 = person2[1]
name2 = person2[2]

In [74]:
#id
#name2
#career

<font color = red> Sequence unpacking requires that there are as many variables on the left side of the equals sign as there are elements in the sequence.

## 3. Sets

A set is an unordered collection with no duplicate elements.
* Set objects also support mathematical operations like union, intersection, difference and symmetric difference.
* Curly braces or the <code>set()</code> function can be used to create sets.
* To create an empty set, we have to use set( ), <font color = red> **not** <code>{}</code>

In [75]:
fruits = {'apple', 'banana', 'apple', 'banana', 'watermelon', 'canteloup', 'strawberry'}
fruits

{'apple', 'banana', 'canteloup', 'strawberry', 'watermelon'}

### 3.1 Membership testing

We can use the reserved keyword <code>in</code> to check the membership of an element

In [76]:
'orange' in fruits

False

In [77]:
'banana' in fruits

True

### 3.2 Set Operations

We will see some examples of operations that can be performed over sets:

In [78]:
a = set('ProgrammingLanguage')
b = set('Python')

In [79]:
a

{'L', 'P', 'a', 'e', 'g', 'i', 'm', 'n', 'o', 'r', 'u'}

In [80]:
b

{'P', 'h', 'n', 'o', 't', 'y'}

### 3.2.1 Difference

In [81]:
# Letters in a, but not in b
a - b

{'L', 'a', 'e', 'g', 'i', 'm', 'r', 'u'}

### 3.2.2 Union

In [82]:
# Letters in a, b or both
a | b

{'L', 'P', 'a', 'e', 'g', 'h', 'i', 'm', 'n', 'o', 'r', 't', 'u', 'y'}

### 3.2.3 Intersection

In [83]:
# letters in both a and b
a & b

{'P', 'n', 'o'}

### 3.2.4 Symmetric difference

In [84]:
# Letters in a or b but not both
a ^ b

{'L', 'a', 'e', 'g', 'h', 'i', 'm', 'r', 't', 'u', 'y'}

**Notice that the symmetric difference can be seen as the** <code> union - intersection </code>

In [85]:
union = a | b

In [86]:
intersection = a & b

In [87]:
union - intersection

{'L', 'a', 'e', 'g', 'h', 'i', 'm', 'r', 't', 'u', 'y'}

### 3.2.5 Exercise

In [88]:
# 1. Given two sorted arrays, find the elements of the intersection between them

# Example 1:
# a = {1, 2, 2, 2, 4, 5}
# b = {0, 2, 2, 4, 4, 4, 6, 9}

# Intersection is {2, 4}

# Example 2
# a = {4, 6, 8}
# b = {5, 7, 9}

# Intersection is {}

In [89]:
a = {1,2,2,2,4,5}
b = {0,2,2,4,4,4,6,9}

In [90]:
a

{1, 2, 4, 5}

In [91]:
b

{0, 2, 4, 6, 9}

In [92]:
a & b

{2, 4}

### 3.2.6. Set Comprehension

Similarly to list comprehension, set comprehension are also supported

In [93]:
a = {x for x in 'Programming Language' if x not in 'Python'}
a

{' ', 'L', 'a', 'e', 'g', 'i', 'm', 'r', 'u'}

## 4. Dictionaries

A **dictionary** is a set of *key:value* pairs, with the requirement that the keys are unique(within one dictionary).
* Dictionaries are indexed by *keys* which can be any immutable type: strings and numbers.
* Tuples can be used as keys if they contain only strings, numbers, or tuples.
* A pair of braces creates an empty dictionary <code>{}</code>

In [94]:
students = {}

In [95]:
students

{}

### 4.1 Adding elements to the dictionary

We can add an element using the **key** like if it was an index of an array, then set the value that we want to store in that key

In [96]:
students['121013'] = "Juan"
students['141123'] = "Paola"
students['171717'] = "Arturo"

In [97]:
#Printing the dictionary
students

{'121013': 'Juan', '141123': 'Paola', '171717': 'Arturo'}

### 4.2 Creating the dictionary with elements

We can also create a dictionary with elements from the beginning by placing a comma-separated list of *key:values* pairs within the braces.

In [98]:
hotelRooms = {1: "Peter", 2: "Richard", 5: "Tom", 10: "Mary"} 
hotelRooms

{1: 'Peter', 2: 'Richard', 5: 'Tom', 10: 'Mary'}

### 4.3 Main operations on a dictionary

The main operations on a dictionary are: 
* Storing a value with some key,
* Extracting the value given the key, and
* Delete a *key:value* pair with <code>del</code>statement

In [99]:
#Storing a value with some key
hotelRooms[3] = "Summer"

In [100]:
hotelRooms

{1: 'Peter', 2: 'Richard', 5: 'Tom', 10: 'Mary', 3: 'Summer'}

In [101]:
#Extracting the value given the key
new_guest = hotelRooms[3]
new_guest

'Summer'

In [102]:
#Deleting an element
del hotelRooms[2]

In [103]:
hotelRooms

{1: 'Peter', 5: 'Tom', 10: 'Mary', 3: 'Summer'}

### 4.4 Return dictionary as a list

* Performing <code>list(d)</code> on a dictionary returns a list of all the **keys** used in the dictionary, in insertion order.
* If we want it sorted, we can use <code>sorted(d)</code>

In [104]:
list(hotelRooms)

[1, 5, 10, 3]

In [105]:
sorted(hotelRooms)

[1, 3, 5, 10]

### 4.5 Membership testing on dictionary

To check whether a single key is in the dictionary, we can use the <code>in</code> keyword

In [106]:
7 in hotelRooms

False

In [107]:
5 in hotelRooms

True

### 4.6 Using keyword arguments

When the keys are simple strings, it is sometimes easier to specify pairs using keywords arguments and the reserved keyword <code>dict</code>.

In [108]:
tel = dict(joe = 1234, jack = 2234, peter = 1113 )
tel

{'joe': 1234, 'jack': 2234, 'peter': 1113}