# <center> First Exam </center>

**1. Given a $n \geq 0$, make a function that computes the following: 
$$\sum_{i = 1}^{n}i$$**

**2. In the following world cup Qatar 2022, 32 teams will compete to win the world championship. In how many different ways can we have a champion, second, and third places?**

**3. Given any expression in a polynomial form, make a function that returns its derive**

*Example:*
    $$f(x) = 4x^{2} - 12x - 1 \Rightarrow f'(x) = 8x - 12$$

**4. 2520 is the smallest number that can be divided by each of the numbers from 1 to 10 without any remainder.
What is the smallest positive number that is evenly divisible by all of the numbers from 1 to 20?**

**5. If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23. Find the sum of all the multiples of 3 or 5 below 1000.**

**6. Given two strings by the an user, make a function that determines if they are equal or not.**

**7. Using the previous solution and any data structure you want to and check the following test cases:**

* "a", "a"      ==> Equal
* "aa", "ab"    ==> Not equal
* "ba", "ba"    ==> Equal
* "bb", "bb"    ==> Equal
* "ba", "ab"    ==> Not equal
* "aaa", "aab"  ==> Not equal
* "aba", "aab"  ==> Not equal
* "baaaaaaa", "aaaaaaaa"  ==> Not equal
* "aaa", "aaab" ==> Not equal

**8. Fifa ranks every country's soccer team according to their recent results. Next we will have a table that has two columns: country name and points. Sort the points to see which country is the best ranked this year. NOTE: DO NOT USE THE PRE-BUILT FUNCTION <code>sort()</code>**


<table>
    <tr>
        <th><center>Country</center></th>
        <th><center>Points</center></th>
    </tr>
    <tr>
        <td> Brazil </td>
        <td> 1833 </td>
    </tr>
    <tr>
        <td> Spain </td>
        <td> 1709 </td>
    </tr>
    <tr>
        <td> Denmark </td>
        <td> 1654 </td>
    </tr>
    <tr>
        <td> Italy </td>
        <td> 1723 </td>
    </tr>
        <tr>
        <td> France </td>
        <td> 1790 </td>
    </tr>
        <tr>
        <td> Argentina </td>
        <td> 1765 </td>
    </tr>
        <tr>
        <td> Belgium </td>
        <td> 1827 </td>
    </tr>
        <tr>
        <td> England </td>
        <td> 1762 </td>
    </tr>
        <tr>
        <td> Mexico </td>
        <td> 1659 </td>
    </tr>
        <tr>
        <td> Portugal </td>
        <td> 1675 </td>
    </tr>

</table>

**9. Given a year, determine whether it is a leap year or not.**

An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.

In the Gregorian calendar, three conditions are used to identify leap years:
* The year can be evenly divided by 4, is a leap year, unless:
* The year can be evenly divided by 100, it is NOT a leap year, unless:
* The year is also evenly divisible by 400. Then it is a leap year.

This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years.

**10. Given the following document, determine the unique words of the document, and how many times do that words appear in the document.**

"It was a bright cold day in April, and the clocks were striking thirteen. Winston Smith, his chin nuzzled into his breast in an effort to escape the vile wind, slipped quickly through the glass doors of Victory Mansions, though not quickly enough to prevent a swirl of gritty dust from entering along with him.

The hallway smelt of boiled cabbage and old rag mats. At one end of it a coloured poster, too large for indoor display, had been tacked to the wall. It depicted simply an enormous face, more than a metre wide: the face of a man of about forty-five, with a heavy black moustache and ruggedly handsome features. Winston made for the stairs. It was no use trying the lift. Even at the best of times it was seldom working, and at present the electric current was cut off during daylight hours. It was part of the economy drive in preparation for HateWeek. The flat was seven flights up, and Winston, who was thirty-nine and had a varicose ulcer above his right ankle, went slowly, resting several times on the way. On each landing, opposite the lift shaft, the poster with the enormous face gazed from the wall. It was one of those pictures which are so contrived that the eyes follow you about when you move. BIG BROTHER IS WATCHING YOU, the caption beneath it ran."