# <center> Variables, expresiones y sentencias <center>

In this file we will see:
1. Values and types
2. Variables
3. Variable names and keywords
4. Operators and operands
5. Expressions and statements
6. Order of operations

## 1. Values and types
A **value** is one of the basic things a program works with, like a letter or a number.
For instance:

In [63]:
"Hola Mundo"

'Hola Mundo'

In [64]:
2.0

2.0

## 2. Variables
A **variable** is a name that refers to a value
In Python, there are four types of variables
* <font color=red>Int</font>: A type value that represents integer numbers.
* <font color=red>Floating - point</font>: A type of value that represents numbers with a decimal part.
* <font color=red>String</font>: Represents a sequence of characters.
* <font color=red>Bool</font>: Represens two types of values: true and false.

In [65]:
#Int number
1

1

In [66]:
# Float number
1.13

1.13

In [67]:
#String
"Hola Mundo"

'Hola Mundo'

In [68]:
#Bool
False

False

In Python, there is a pre-build function that can identify the type of a varialbe and it is called **type**

In [69]:
type(1)

int

In [70]:
type(3.14)

float

In [71]:
type("Hola,Mundo!")

str

In [72]:
type(False)

bool

## 2.1 Variable assignment

A **variable assignment** creates a new variable and gives value to it

In [73]:
message = "Bienvenido a clases"
print(message)

Bienvenido a clases

In [74]:
score = 9
score

9

In [75]:
division = 14.7
print(division)

14.7

## 3. Variable names and keywords

* It is recommended to use variables that are meaninguful
* Variable names can be arbitrarily long and can contain letters and numbers, but must begin with a letter. 
<br>For instance:

In [76]:
#Examples of an incorrect variable name
a = 1
b = 3
xy = 12
xy@ = 23

SyntaxError: invalid syntax (<ipython-input-76-49d102d40a11>, line 5)

In [77]:
#Examples of a correct variable name
finalScore = 10
final_score = 8
car_type = "Honda"
average = 8.8

<font color=red>**Python has many reserved keywords that cannot be used as a variable name**</font>

<table>
    <tr >
        <th style=background-color:grey; colspan="5"><center>Reserved Keywords</center></th>
    </tr>
    <tr style=background-color:#33e4ff;>
        <td style=text-align:left;>and</td>
        <td style=text-align:left;>del</td>
        <td style=text-align:left;>from</td>
        <td style=text-align:left;>not</td>
        <td style=text-align:left;>while</td>
    </tr>
    <tr style=background-color:#33abff;>
        <td style=text-align:left;>as</td>
        <td style=text-align:left;>elif</td>
        <td style=text-align:left;>global</td>
        <td style=text-align:left;>or</td>
        <td style=text-align:left;>with</td>
    </tr>
    <tr style=background-color:#33e4ff;>
        <td style=text-align:left;>assert</td>
        <td style=text-align:left;>else</td>
        <td style=text-align:left;>if</td>
        <td style=text-align:left;>pass</td>
        <td style=text-align:left;>yield</td>
    </tr>
    <tr style=background-color:#33abff;>
        <td style=text-align:left;>break</td>
        <td style=text-align:left;>except</td>
        <td style=text-align:left;>import</td>
        <td style=text-align:left;>print</td>
        <td style=text-align:left;></td>
    </tr>
    <tr style=background-color:#33e4ff;>
        <td style=text-align:left;>class</td>
        <td style=text-align:left;>exec</td>
        <td style=text-align:left;>in</td>
        <td style=text-align:left;>raise</td>
        <td></td>
    </tr>
    <tr style=background-color:#33abff;>
        <td style=text-align:left;>continue</td>
        <td style=text-align:left;>finally</td>
        <td style=text-align:left;>is</td>
        <td style=text-align:left;>return</td>
        <td></td>
    </tr>
    <tr style=background-color:#33e4ff;>
        <td style=text-align:left;>def</td>
        <td style=text-align:left;>for</td>
        <td style=text-align:left;>lambda</td>
        <td style=text-align:left;>try</td>
        <td></td>
    </tr>

## 4. Operators and operands

**Operators** are special symbols that represent computations like addition and multiplication. The values the operator is applied to are called **operands**
The operators +, -, *, /, and * * perform addition, substraction, multiplication, division, and exponentiation.
<br> Some examples:

In [78]:
hour = 10
minute = 43

In [79]:
8 + 5

13

In [80]:
hour = 10
hour - 1

9

In [81]:
hour * 60 + minute

643

In [82]:
minute / 60

0.7166666666666667

In [83]:
27 // 4

6

In [84]:
8 % 2

0

In [85]:
2 ** 5

32

In [86]:
(5 + 9) * (15 - 7)

112

## 5. Expressions and statements

* An **expression** is a combination of values, variables and operators.
    * Examples: x, 17, x + 17
* A **statement** is a unite of code that Python can execute.
    * Examples: x = 23, print(x)

## 6. Order of operations

When more than one operator appears in an expression, the order of evaluation depens on the **rules of precedence**. 
* Python follows mathematical convention:
1. Parentheses
2. Exponentiation
3. Multiplication and Division
4. Addition and substraction

In [87]:
2 * (3 - 1)

4

In [88]:
2 * 3 - 1

5

In [89]:
2 + 5 ** 2

27

In [90]:
(2 + 5) ** 2

49

In [91]:
minute * hour / 60

7.166666666666667

Operators with the same precedence are evaluated from left to right. But sometimes we can use parentheses to make a statement more clear:

In [92]:
celsius = 28
(celsius * 9/5) + 32

82.4

## 7. Exercises

In [3]:
# 1. Compute the area of a triangle of base 10 cm and height 15 cm. 
# Area = base * height / 2
base = 10
height = 15
area = base * height / 2
print("El area del triangulo es", area)

El area del triangulo es 75.0

In [94]:
# 2. Compute the area of a circle of radius 5.
# A = π * r ** 2

In [95]:
# 3. Compute the average of three scores: 8.5, 7.2, and 9.3

In [96]:
# 4. Compute a program that converts from celsius to fahrenheit
# F = 9/5 * C + 32