# <center>Conditionals</center>

In this file we will see:
1. Boolean expressions
2. Logical operators
3. Conditional execution
4. Alternative execution
5. Chained conditionals
6. Nested Conditionals
7. Exercises

## 1. Boolean expressions

* A **boolean expression** is an expression that is either <font color=red>true</font> or <font color=red>false</font>.
* In the following examples, we use the operator **==** to compare two operands and produce either *True* or *False*

In [39]:
5 == 5

True

In [40]:
5 == 6

False

### 1.1 Relational operators

There are some relational operators that we can use to compare two values:

In [41]:
x = 8
y = 7

In [42]:
# x is not equal to y
x!=y

True

In [43]:
# x is greater than y
x > y

True

In [44]:
# x is less than y
x < y

False

In [45]:
# x is greater than or equal to y
x >= y

True

In [47]:
# x is less than or equal to y
x <= y

False

<font color=red>Remember that we use:
<br> A single equal sign **=** for assignment
<br> And double equal sign **==** as a relational operator</font>

## 2. Logical operators

There are three **logical operators**:
* and
* or
* not
<br>
And the meaning of these operators is similiar to their meaning in English

In [48]:
# and logical operator
x = 10
x > 0 and x < 10

False

In [52]:
# or logical operator
num = 2
num % 2 == 0 or num % 3 == 0

True

In [53]:
# or logical operator
value1 = 12
value2 = 17

not(value1 > value2)

True

## 3. Conditional execution

* We can use **conditional statements** when we want to check some conditions and change the behavior of our programm depending on the condition.
* The simplest form is using the **if statement**

In [54]:
# Determine if a person in Mexico can vote
age = 18
if (age >= 18):
    print("Can vote")

Can vote

In [55]:
# Determine if a value is positive
x = 12
if(x > 0):
    print("Positive")

Positive

## 4. Alternative execution

A second form of the if statement is **alternative execution**, in which there are two possibilities and the condition determines which one gets executed.

In [56]:
# A number is even or odd
num = 12
if (num % 2 == 0):
    print(x, "is even")
else:
    print(x, "is odd")

12 is even

In [57]:
# A number is positive or negative
num = -14
if (num > 0):
    print(num, "is positive")
else:
    print(num, "is equal to zero or negative")

-14 is equal to zero or negative

## 5. Chained conditionals

Sometimes there are more than two possibilities and we need more than two branches. We can express that computation with a **chained conditional**

In [59]:
# A number is positive, negative or equal to zero
num = 18
if (num > 0):
    print(num, "is positive")
elif(num == 0 ):
    print(num, "is zero")
else:
    print(num, "is negative")

18 is positive

In [60]:
# Determine if x is greater, equal or less than y
x = 18
y = 17
if (x > y):
    print(x, "is greater than", y)
elif(num == 0 ):
    print(x, "is equal to", y)
else:
    print(x, "is less than", y)

18 is greater than 17

<font color=red>Note that **elif** is an abbreviation of "else if"</font>

## 6. Nested conditionals

* One conditional can also be **nested** within another. 
* We could have written the previous example like this:

In [61]:
x = 18
y = 17
if (x > y):
    print(x, "is greater than", y)
else:
    if(x == y):
        print(x, "is equal to", y)
    else:
        print(x, "is less than", y)

18 is greater than 17

## 7. Exercies

In [6]:
#1. Determine if a number is divided by 3, 5 or both
num = 23
if (num % 3 == 0 and num % 5 == 0):
    print("Divisible entre 3 y 5")
elif (num % 5 == 0):
    print("Divisible entre 5")
elif (num % 3 == 0):
    print("Divisible entre 3")
else:
    print("No aplica")

No aplica

In [9]:
#2. Determine if an employee is eligible for retirement. Retirement at 65.
age = -10
if(age > 0):
    if(age >= 65):
        print("Candidato a retiro")
    else:
        print("No es candidato")
else:
    print("Numero no valido")

TypeError: '>' not supported between instances of 'str' and 'int'

In [12]:
#3. Determine if Pedro is younger or older than Mary. Pedro is 13 and Mary 17.
pedro = 20
mary = 17

if(pedro > mary):
    print("Es mayor")
elif(pedro == mary):
    print("Misma edad")
else:
    print("Es menor")

Es mayor

In [15]:
#4. Given three numbers, determine which one is bigger.
# x = 12, y = 10, z = 8

x = 35
y = 23
z = 18

if(x > 0 and y > 0 and z > 0):
    # Suponer que x es el mayor de todos
    if(x > y):
        if(x > z):
            print("X es mayor")
        else:
            print("Z es mayor")
    else:
        if(y < z):
            print("Z es mayor")
        else:
            print("Y es mayor")
else:
    print("Numeros no validos")

X es mayor

In [16]:
nums = [35, 23, 18]
print(max(nums))

35

In [ ]:
#5. Given the weather of the city, make a recommendation to the user.
# For instance, if weather == "Sunny" --> Use Sunscreen
weather = "Sunny"