# <center>Basic data structures</center>

In this file, we will cover the main data structures that are available in Python:
1. Strings
2. Lists
3. Tuples
4. Sets
5. Dictionary

## 1. Strings

Besides the numbers, in Python we can manipulate strings. To refer a string, we can use either single quote ('...') or double quote("...")

In [1]:
greetings = "Hello, World!"

In [2]:
greetings

'Hello, World!'

In [3]:
goodbye = 'Goodbye, World!'
goodbye

'Goodbye, World!'

<font color = red> Remember we can use the **(+)** to concatenate strings and the **(*)** operator to repeat many times a string

In [4]:
string1 = "Hello"
string2 = " World!"
print(string1 + string2)

Hello World!

In [4]:
# Do you remember what does the following expression returns?
print(greetings * 3)

Hello, World!Hello, World!Hello, World!

In [5]:
text = ('Sometimes we have a really long string that does not fit in '
        'only one line. So in that case we can use the parentheses to '
        'surround the text and single or double quote in each line '
        'of the string'
       )
print(text)

Sometimes we have a really long string that does not fit in only one line. So in that case we can use the parentheses to surround the text and single or double quote in each line of the string

### 1.1 Indices

Strings can be indexed, but remember that the first element of the string corresponds to the index **0**

In [8]:
word = 'python is a great programming language'
word[0]

'p'

In [10]:
shortWord = "Ape"
#shortWord[4]

<font color = red> Indices can also be negative, starting from the right of the string as the starting point

In [ ]:
print(shortWord[-1])
# print(shortWord[-2])
# print(shortWord[-6])

### 1.2 Slices

Besides indices, we can use slices or "chunks" of a string. Slices allows us to obtain sub-strings

In [19]:
#[0,6)
#0,1,2,3,4,5
#p,y,t,h,o,n
#word[2:6]
#word[:6]
#word[6:]

' is a great programming language'

In [27]:
# Exercise. Print only the sub-string "language" from the variable "word"
#word[-8:]
word[30:]

'language'

In [13]:
# This is a visual way to remember how slices work in Python 


print('+---+---+---+---+---+---+\n' 
      '| P | y | t | h | o | n |\n'
      '+---+---+---+---+---+---+\n'
      '0   1   2   3   4   5   6\n'
      '-6  -5  -4  -3  -2  -1  \n'
     )

+---+---+---+---+---+---+
| P | y | t | h | o | n |
+---+---+---+---+---+---+
0   1   2   3   4   5   6
-6  -5  -4  -3  -2  -1

### 1.3 The len( ) function

In [29]:
string = "supercalifragilisticexpialidocious"
len(string)

38

### Recap

<table>
    <tr>
        <th><center> </center></th>
        <th style=background-color:#3396ff;><center> When to use it? </center></th>
        <th style=background-color:#3396ff;><center> Example </center></th>
    </tr>
    <tr>
        <td style= "background-color:#33c7ff;"> <p style="text-align:left;background-color:#33c7ff;"> Indices </p></td>
        <td> <p style="text-align:left;">When we want to access a specific character of a string</p> </td>
        <td> <p style="text-align:left;"> word[4]</p> </td>
    </tr>
        <tr>
        <td style= "background-color:#33c7ff;"> <p style="text-align:left;"> Slices </p></td>
        <td> <p style="text-align:left;"> When we want a sub-string</p> </td>
        <td> <p style="text-align:left;"> word[2:6]</p> </td>
    </tr>
        <tr>
        <td style= "background-color:#33c7ff;"> <p style="text-align:left;"> Len( ) function</p></td>
        <td> <p style="text-align:left;">To know the length of a string</p> </td>
        <td> <p style="text-align:left;">len(word)</p> </td>
    </tr>
</table>

In [ ]:
#To-Do
#Add functions like isalnum(), isdigit(), isalpha(), islower(), isUpper(), find(), replace(), split()

## 2. Lists

* Python knows a number of *compound data types*, used to group together values. The most versatile is the list, which can be written as a list of comma-separated values(items) between square brackets.
* Lists might contain items of different types, but usually the items all have the same type

In [33]:
# Integer list
scores = [10, 8, 7]
scores

[10, 8, 7]

In [34]:
# String list
careers = ['Maths', 'Economy', 'Computer', 'Data Science']
careers

['Maths', 'Economy', 'Computer', 'Data Science']

In [35]:
# Float list
sales = [23.5, 72.3, 88.17, 11.2]
sales

[23.5, 72.3, 88.17, 11.2]

In [36]:
# Different value types
mixedList = [1, 'apple', 3.14, False]
mixedList

[1, 'apple', 3.14, False]

### 2.1 Indices

Such as strings, lists also can be indexed

In [38]:
squareNumbers = [1,4,9,16,25]

In [42]:
# What does the following statements will print?
#squareNumbers[2]
#squareNumbers[0]
# print(squareNumbers[-1])
# print(len(squareNumbers))
# squareNumbers[7]

### 2.2 Slices

A slice operation returns a new list cotaining the requested element.

In [44]:
squareNumbers

[1, 4, 9, 16, 25]

In [48]:
# What does the following statements will print?
#squareNumbers [2:3]
#squareNumbers [:3]
#squareNumbers [3:]
squareNumbers [:]

[1, 4, 9, 16, 25]

### 2.3 Len ( ) function

In [50]:
# We can use the pre-built function len( )
len(squareNumbers)

5

### 2.4 Lists of lists

We can also have a list of lists

In [51]:
list1 = [1,2,3]
list2 = [4,5,6]
numberList = [list1, list2]
numberList

[[1, 2, 3], [4, 5, 6]]

In [54]:
letters = ['a', 'b', 'c']
numbers = [2, 4, 6]
x = [letters, numbers]
# What's the length of the list 'x'?
x

[['a', 'b', 'c'], [2, 4, 6]]

## 2.5 Most commonly used functions on lists

Now we will se some of the most commonly used functions on list in Python. But first we will create a list of elements.

In [55]:
fruits = ['apple', 'kiwi', 'papaya', 'banana', 'papaya', 'kiwi', 'mango', 'strawberry']
fruits

['apple', 'kiwi', 'papaya', 'banana', 'papaya', 'kiwi', 'mango', 'strawberry']

### 2.5.1 Append

Adds an item to the end of the list

In [56]:
fruits.append('orange')
fruits

['apple',
 'kiwi',
 'papaya',
 'banana',
 'papaya',
 'kiwi',
 'mango',
 'strawberry',
 'orange']

### 2.5.2 Insert

* Inserts an item at a given position.
* The first argument is the index of the element before which to insert

In [57]:
fruits

['apple',
 'kiwi',
 'papaya',
 'banana',
 'papaya',
 'kiwi',
 'mango',
 'strawberry',
 'orange']

In [58]:
# insert(position, element to insert)
fruits.insert(0, 'cantaloupe')
fruits

['cantaloupe',
 'apple',
 'kiwi',
 'papaya',
 'banana',
 'papaya',
 'kiwi',
 'mango',
 'strawberry',
 'orange']

In [59]:
fruits.insert(3,'watermelon')
fruits

['cantaloupe',
 'apple',
 'kiwi',
 'watermelon',
 'papaya',
 'banana',
 'papaya',
 'kiwi',
 'mango',
 'strawberry',
 'orange']

### 2.5.3 Remove

* Removes the first item from the list whose value is equal to x.
* An *ValueError* is raised if there is no such element

In [61]:
# fruits.remove('papaya')
# fruits.remove('cantaloupe')
fruits.remove('guava')
fruits

ValueError: list.remove(x): x not in list

### 2.5.4 Clear

Removes all items from the list

In [64]:
fruits = ['apple', 'kiwi', 'papaya', 'banana', 'papaya', 'kiwi', 'mango', 'strawberry']
fruits

['apple', 'kiwi', 'papaya', 'banana', 'papaya', 'kiwi', 'mango', 'strawberry']

In [65]:
fruits.clear()
fruits

TypeError: clear() takes no arguments (1 given)

### 2.5.5 Pop

* Removes an item at a given position in the list, and returns it.
* If no index is specified, then it removes and returns the last item in the list

In [66]:
# Remove the item at the given position in the list, and return it
fruits.pop(1)
fruits
#fruits.pop()

['apple', 'papaya', 'banana', 'papaya', 'kiwi', 'mango', 'strawberry']

### 2.5.6 Count

Returns the number of times an item appears in the list

In [67]:
fruits

['apple', 'papaya', 'banana', 'papaya', 'kiwi', 'mango', 'strawberry']

In [69]:
fruits.count('mango')

1

### 2.5.7 Sort

* Sorts the items of the list.
* We can use the reverse argument to sort in a descending way

In [71]:
fruits.sort()
fruits

['apple', 'banana', 'kiwi', 'mango', 'papaya', 'papaya', 'strawberry']

In [72]:
fruits.sort(reverse=True)
fruits

['strawberry', 'papaya', 'papaya', 'mango', 'kiwi', 'banana', 'apple']

### 2.5.8 Reverse

Reverses the elements of the list

In [74]:
fruits

['apple', 'banana', 'kiwi', 'mango', 'papaya', 'papaya', 'strawberry']

In [77]:
fruits.reverse()
fruits

['strawberry', 'papaya', 'papaya', 'mango', 'kiwi', 'banana', 'apple']

### 2.5.9 Copy

Returns a copy of the list

In [78]:
fruits2 = fruits.copy()
fruits2

['strawberry', 'papaya', 'papaya', 'mango', 'kiwi', 'banana', 'apple']

In [79]:
fruits

['strawberry', 'papaya', 'papaya', 'mango', 'kiwi', 'banana', 'apple']

### 2.5.10 Del statement

* Removes an element of a list by it's index
* We can also remove slices of a list

In [80]:
fruits

['strawberry', 'papaya', 'papaya', 'mango', 'kiwi', 'banana', 'apple']

In [81]:
del fruits[3]
fruits

['strawberry', 'papaya', 'papaya', 'kiwi', 'banana', 'apple']

In [58]:
del fruits[2:4]
fruits

['strawberry', 'papaya', 'kiwi', 'banana', 'apple']

In [82]:
del fruits2[:]

In [83]:
fruits2

[]

In [85]:
del fruits[6]

IndexError: list assignment index out of range

### Summary

Suppose we have a list **l** and an element **e** and an index **pos**.
<table>
    <tr>
        <th style=background-color:#3396ff;><center> List method </center></th>
        <th style=background-color:#3396ff;><center> Example </center></th>
        <th style=background-color:#3396ff;><center> Definition </center></th>
    </tr> 
    <tr>
        <td> <p style="text-align:left;"> 1. Append </p></td>
        <td style = "text-align:left;"> <code> l.append('e') </code> </td>
        <td> <p style="text-align:left;"> Adds an item to the end of the list</p> </td>
    </tr>
    <tr>
        <td> <p style="text-align:left;"> 2. Insert </p></td>
        <td style = "text-align:left;"> <code> l.insert(pos,'e') </code> </td>
        <td> <p style="text-align:left;"> Inserts an iten at a given position</p> </td>
    </tr>
        <tr>
        <td> <p style="text-align:left;"> 3. Remove</p></td>
        <td style = "text-align:left;"> <code> l.remove('e') </code> </td>
        <td> <p style="text-align:left;">Removes the first item from the list whose value is equal to 'e'</p> </td>
    </tr>
        <tr>
        <td> <p style="text-align:left;"> 4. Clear </p></td>
        <td style = "text-align:left;"> <code> l.clear() </code> </td>
        <td> <p style="text-align:left;"> Removes all items from the list</p> </td>
    </tr>
        <tr>
        <td> <p style="text-align:left;"> 5. Pop</p></td>
        <td style = "text-align:left;"> <code> l.pop(pos) </code> </td>
        <td> <p style="text-align:left;"> Removes an item at a given position in the list</p> </td>
    </tr>
        <tr>
        <td> <p style="text-align:left;"> 6. Count </p></td>
        <td style = "text-align:left;"> <code> l.count('e') </code> </td>
        <td> <p style="text-align:left;"> Returns the number of times an item appears in a list</p> </td>
    </tr>
        <tr>
        <td> <p style="text-align:left;"> 7. Sort </p></td>
        <td style = "text-align:left;"> <code> l.sort() </code> </td>
        <td> <p style="text-align:left;"> Sorts the items of the list</p> </td>
    </tr>
        <tr>
        <td> <p style="text-align:left;"> 8. Reverse </p></td>
        <td style = "text-align:left;"> <code> l.reverse() </code> </td>
        <td> <p style="text-align:left;"> Reverses the elements of the list</p> </td>
    </tr>
        <tr>
        <td> <p style="text-align:left;"> 9. Copy</p></td>
        <td style = "text-align:left;" > <code> l2 = l.copy() </code> </td>
        <td> <p style="text-align:left;"> Returns a copy of the list l1</p> </td>
    </tr>
        <tr>
        <td> <p style="text-align:left;"> 10. Del statement </p></td>
        <td style = "text-align:left;"> <code> del l[2:4] </code> </td>
        <td> <p style="text-align:left;"> Removes an element(s) of a list by index (or slices)</p> </td>
    </tr>
       
        
</table>

### 2.6 List Comprehensions

* **List comprehension** provides a concise way to create list.
* It is common to make new lists where each element is the result of some operations applied to each member of another sequence or iterable
* Or to create a subsequence of those elements that satisfy a certain condition.

In [1]:
# So far this is the way we have seen to create a list of the first 10 square numbers
squares = []
for x in range(10):
    squares.append(x**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
squares = [(x ** 2) for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

* <font color = red> A *list comprehension* consists of an **expression** surrounded by parentheses followed by a *for* clause, then zero or more *for* or *if* clauses.
* The result will be a new list resulting from evaluating the given expression in the context of the following clauses

In [4]:
#Example 1.
[(x,y) for x in [1,2,3] for y in [3,1,4] if x!=y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [2]:
#Likely
comb = []
# x = 2
for x in [1,2,3]:
    # y = 4
    for y in [3,1,4]:
        if x!= y:
            comb.append((x,y))
comb

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [6]:
#Example 2.
vector = [-8, -4, 0, 4, 8]
[(x*2) for x in vector if x > 0]

[8, 16]

### 2.6.1 Exercises

In [8]:
# Exercise 1. Create a list using list comprehension that contains the first 10 even numbers
# 2, 4, 6, 8, 10, ...
[x for x in range(20) if x % 2 == 0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [9]:
import math as m

In [13]:
# Exercise 2. Create a list using list comprehension that contains the square root numbers of the following list
list2 = [36, 64, 100, 121, 169, 625]
[m.sqrt(x) for x in list2]

[6.0, 8.0, 10.0, 11.0, 13.0, 25.0]

In [15]:
# Exercise 3. Given a list of scores, create a list using list comprehension with only those students whose 
# score is greater or equal to 6
scores = [2.5, 8.3, 10, 9.8, 9.1, 8.5, 5.6, 8.7, 2.8]
approved = [x for x in scores if x >= 6]
approved

[8.3, 10, 9.8, 9.1, 8.5, 8.7]

In [20]:
# 3.1 How many students approved?
# 3.2 Order the list in a descending way
approved.sort(reverse = True)
approved

[10, 9.8, 9.1, 8.7, 8.5, 8.3]

In [8]:
# Exercise 4. Given the following matrix, transpose the matrix using list comprehension
matrix = [
    [ 1, 2, 3, 4],
    [-1, 0, 1, 0],
    [ 7, 3, 1, 2]
]

In [9]:
len(matrix[2])

4

In [10]:
[[row[i] for row in matrix] for i in range(len(matrix[0]))]

[[1, -1, 7], [2, 0, 3], [3, 1, 1], [4, 0, 2]]

In [12]:
# Transposing the matrix using for loops
transposed = []
for i in range(len(matrix[0])):
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)
transposed

[[1, -1, 7], [2, 0, 3], [3, 1, 1], [4, 0, 2]]

## 3. Tuples

A tuple consists of a number of values separated by commas.
* Tuples may be nested
* Tuples are immutable

In [14]:
t = 123, 456, "Hello!"
t

(123, 456, 'Hello!')

In [15]:
type(t)

tuple

In [16]:
# Nesting tuples
u = t, (2,4,6)
u

((123, 456, 'Hello!'), (2, 4, 6))

In [17]:
#Accessing an element of a tuple
u[0]

(123, 456, 'Hello!')

In [19]:
# Tuples are immutable
u[0] = 123

TypeError: 'tuple' object does not support item assignment

Tuples usuallly contain a heterogeneous sequence of elements that can be accessed via unpacking or indexing

In [20]:
person1 = 121013, "Mathematics", "Roberto"
person1

(121013, 'Mathematics', 'Roberto')

In [49]:
# Accessing via sequence unpacking
id, career, name = person1

In [46]:
print(career)

Maths

In [21]:
person2 = 171211, "Economy", "Maria"
person2

(171211, 'Economy', 'Maria')

In [22]:
#Accessing via indexing
id2 = person2[0]
career2 = person2[1]
name2 = person2[2]

In [23]:
#id
#name2
#career

<font color = red> Sequence unpacking requires that there are as many variables on the left side of the equals sign as there are elements in the sequence.

## 4. Sets

A set is an unordered collection with no duplicate elements.
* Set objects also support mathematical operations like union, intersection, difference and symmetric difference.
* Curly braces or the <code>set()</code> function can be used to create sets.
* To create an empty set, we have to use set( ), <font color = red> **not** <code>{}</code>

In [24]:
fruits = {'apple', 'banana', 'apple', 'banana', 'watermelon', 'canteloup', 'strawberry'}
fruits

{'apple', 'banana', 'canteloup', 'strawberry', 'watermelon'}

### 4.1 Membership testing

We can use the reserved keyword <code>in</code> to check the membership of an element

In [31]:
'orange' in fruits

False

In [32]:
'banana' in fruits

True

### 4.2 Set Operations

We will see some examples of operations that can be performed over sets:

In [33]:
a = set('ProgrammingLanguage')
b = set('Python')

In [34]:
a

{'L', 'P', 'a', 'e', 'g', 'i', 'm', 'n', 'o', 'r', 'u'}

In [31]:
b

{'P', 'h', 'n', 'o', 't', 'y'}

### 4.2.1 Difference

In [32]:
# Letters in a, but not in b
a - b

{'L', 'a', 'e', 'g', 'i', 'm', 'r', 'u'}

### 4.2.2 Union

In [34]:
# Letters in a, b or both
a | b

{'L', 'P', 'a', 'e', 'g', 'h', 'i', 'm', 'n', 'o', 'r', 't', 'u', 'y'}

### 4.2.3 Intersection

In [39]:
# letters in both a and b
a & b

{'P', 'n', 'o'}

### 4.2.4 Symmetric difference

In [38]:
# Letters in a or b but not both
a ^ b

{'L', 'a', 'e', 'g', 'h', 'i', 'm', 'r', 't', 'u', 'y'}

**Notice that the symmetric difference can be seen as the** <code> union - intersection </code>

In [26]:
union = a | b

In [27]:
intersection = a & b

In [28]:
union - intersection

{'L', 'a', 'e', 'g', 'h', 'i', 'm', 'r', 't', 'u', 'y'}

### 4.2.5 Exercise

In [ ]:
# 1. Given two sorted arrays, find the elements of the intersection between them

# Example 1:
# a = {1, 2, 2, 2, 4, 5}
# b = {0, 2, 2, 4, 4, 4, 6, 9}

# Intersection is {2, 4}

# Example 2
# a = {4, 6, 8}
# b = {5, 7, 9}

# Intersection is {}

In [35]:
a = {1,2,2,2,4,5}
b = {0,2,2,4,4,4,6,9}

In [36]:
a

{1, 2, 4, 5}

In [37]:
b

{0, 2, 4, 6, 9}

In [38]:
a & b

{2, 4}

### 4.2.6. Set Comprehension

Similarly to list comprehension, set comprehension are also supported

In [48]:
a = {x for x in 'Programming Language' if x not in 'Python'}
a

{' ', 'L', 'a', 'e', 'g', 'i', 'm', 'r', 'u'}

## 5. Dictionaries

A **dictionary** is a set of *key:value* pairs, with the requirement that the keys are unique(within one dictionary).
* Dictionaries are indexed by *keys* which can be any immutable type: strings and numbers.
* Tuples can be used as keys if they contain only strings, numbers, or tuples.
* A pair of braces creates an empty dictionary <code>{}</code>

In [39]:
students = {}

In [40]:
students

{}

### 5.1 Adding elements to the dictionary

We can add an element using the **key** like if it was an index of an array, then set the value that we want to store in that key

In [41]:
students['121013'] = "Juan"
students['141123'] = "Paola"
students['171717'] = "Arturo"

In [42]:
#Printing the dictionary
students

{'121013': 'Juan', '141123': 'Paola', '171717': 'Arturo'}

### 5.2 Creating the dictionary with elements

We can also create a dictionary with elements from the beginning by placing a comma-separated list of *key:values* pairs within the braces.

In [30]:
hotelRooms = {1: "Peter", 2: "Richard", 5: "Tom", 10: "Mary"} 
hotelRooms

{1: 'Peter', 2: 'Richard', 5: 'Tom', 10: 'Mary'}

### 5.3 Main operations on a dictionary

The main operations on a dictionary are: 
* Storing a value with some key,
* Extracting the value given the key, and
* Delete a *key:value* pair with <code>del</code>statement

In [43]:
#Storing a value with some key
hotelRooms[3] = "Summer"

In [44]:
hotelRooms

{1: 'Peter', 2: 'Richard', 5: 'Tom', 10: 'Mary', 3: 'Summer'}

In [45]:
#Extracting the value given the key
new_guest = hotelRooms[3]
new_guest

'Summer'

In [47]:
#Deleting an element
del hotelRooms[2]

In [48]:
hotelRooms

{1: 'Peter', 5: 'Tom', 10: 'Mary', 3: 'Summer'}

### 5.4 Return dictionary as a list

* Performing <code>list(d)</code> on a dictionary returns a list of all the **keys** used in the dictionary, in insertion order.
* If we want it sorted, we can use <code>sorted(d)</code>

In [49]:
list(hotelRooms)

[1, 5, 10, 3]

In [96]:
sorted(hotelRooms)

[1, 3, 5, 10]

### 5.5 Membership testing on dictionary

To check whether a single key is in the dictionary, we can use the <code>in</code> keyword

In [50]:
7 in hotelRooms

False

In [51]:
5 in hotelRooms

True

False

### 5.6 Using keyword arguments

When the keys are simple strings, it is sometimes easier to specify pairs using keywords arguments and the reserved keyword <code>dict</code>.

In [100]:
tel = dict(joe = 1234, jack = 2234, peter = 1113 )
tel

{'joe': 1234, 'jack': 2234, 'peter': 1113}