# <center> Functions </center>

In this file, we will see the following topics:
1. Function calls
2. Type conversions
3. Math functions
4. Composition
5. Creating own functions
6. Exercises

![Function](images/function1.png)

## 1. Function calls

* A **function** is a named sequence of statements that performs a computation.
* When defining a function, we specify the name and the sequence of statements. Later, we can "call" the function by name.

In [23]:
# Example 1. Some built-in functions
#type(True)
print("Hello, World!")

Hello, World!

### 1.1 Name, argument and return value

There are three important features within a function:
1. Name
2. Argument(s)
3. Return value

In [26]:
#Example 2. Name, argument, and return value of built-in functions
#type(14.3)
print("Goodbye!")

Goodbye!

## 2. Type conversion functions

* Python provides built-in functions that convert values from one type to another.

In [30]:
# Int function
#int(32)
#int('Hello')
#int(3.9999)
int(-2.3)

-2

In [32]:
#Float function
#float(22)
float(3.1416)

3.1416

In [35]:
#String function
#x = str(28)
#type(x)
str(3.1416)

'3.1416'

## 3. Math functions

* Python has a math module that provides most of the familiar mathematical functions. 
* A **module** is a file that contains a collection of related functions

In [36]:
import math

In [47]:
#Example 1.
degrees = 45
radianes = math.pi * degrees / 180
print(radianes)

0.7853981633974483

In [41]:
#Example 2.
math.sqrt(73)

8.54400374531753

In [43]:
#Example 3.
math.exp(1)

2.718281828459045

There are many other mathematical functions that we can use:
<code>sin()</code>, <code>cos()</code>, <code>log10()</code>, <code>log()</code>, <code>pow()</code>, etc...

## 4. Composition

* So far, we have looked at the element of programs in isolation, but we can take small blocks of codes and **compose** them.
* We can use the return value of a function as an argument of another function.

In [45]:
#Example 1.
#math.sin(math.pi/2)
math.cos(math.pi)

-1.0

In [51]:
#Example 2.
x = math.sin(degrees / 360.0 * 2 * math.pi)
x

-0.750987246771676

In [49]:
#Example 3.
y = math.exp(math.log(x + 1))
y

1.7071067811865475

In [52]:
#Example 4
math.pow(2,5)

32.0

**<font color = red> Notice that a function can have 0, 1, 2 or more arguments </font>**.

## Summary

![Function2](images/function2.png)

## 5. Creating own functions

* It is possible to add new functions.
* A **function definition** specifies the name of a new function and the sequence of statements that execute when the function is called.

In [53]:
#Example 1.
def say_name(name):
    print("Hello,", name)

In [54]:
#Example 2.
def celsius_to_fahr(cel_degrees):
    fahr = (9/5 * cel_degrees) + 32
    return (fahr)

### 5.1 Calling functions

Hello, Paco

In [60]:
celsius_to_fahr(8)

46.4

### 5.2 Calling functions from another function

In [69]:
a = 12

In [67]:
#Example 3
def print_temp():
    a = 18
    cels_deg_Mexico = 28
    cels_deg_Tijuana = 37
    cels_deg_Puebla = 23
    print(a)

In [68]:
print_temp()

18

In [70]:
#Crea una funcion que dada una edad, te diga que si puedes o no votar
def can_vote(age):
    if(age >= 18):
        print("Can vote")

can_vote(22)

Can vote

In [ ]:
while(True):
    if(i == 10);
    break
    print("Hola")

### 6. Exercises

1. **Make a function that converts from degrees to radians.**

<code>radians = π * degrees / 180</code>

2. **Make a function that converts from hours to minutes.**

Example. 28 hours = 1680 minutes

3. **Make a function that computes the logarithm base 10 of a number.**

<code>log10(p) = log2(p)/log2(10)</code>

4. **Make a function that computes the maximum of three numbers.**

Example. <code>num1 = 7</code>, <code>num2 = 2</code>, <code>num3 = 15</code>

5. **Make a function that computes the area of a triangle.**

<code>Area = base * height / 2</code>

6. **Make a function that computes the area of a Circle. Ask to the user for the radius**

<code>Area = π * r^2</code>

7. **Make a function that computes the distance between to points in the cartesian plane**

<code>sqrt[(x2-x1)^2 + (y2-y1)^2]</code>

8. In certain hospital 30 patients were examined by their cholesterol. We know that the levels of cholesterol are defined in the following way:

* desirable < 200
* acceptable limit [200,239]
* high > 239

a) **Given the results of the patients, make a function that determines the level of each one of them.**



list_chol=[155,283,300,272,289,159,184,204,210,236,162,267,238,196,240,206,258,203,295,208,258,293,223,202,282,225,158,291,187,289 ]

**b) Use a dictionary to store each result depending on their level and determine how many patients are in each level.**

#### 10. Consider a list (<code>list = []</code>). You can perform the following commands:

1. <code>insert i e</code>: Insert integer <code>e</code> at position <code>i</code>
2. <code>print</code>: Print the list.
3. <code>remove e</code>:Delete the first occurrence of integer <code>e</code>
4. <code>append e</code>: Insert integer <code>e</code> at the end of the list
5. <code>sort</code>: Sort the list.
6. <code>pop</code>: Pop the last element from the list.
7. <code>reverse</code>: Reverse the list.

Initialize your list and read in the value of followed by lines of commands where each command will be of the types **7** listed above. **Iterate through each command in order and perform the corresponding operation on your list.** 

*Example*
* N = 4
* append 1
* append 2
* insert 3 1
* print

Output:
[1, 3, 2]

*Input*
* 12
* insert 0 5
* insert 1 10
* insert 0 6
* print
* remove 6
* append 9
* append 1
* sort
* print
* pop
* reverse
* print

*Output*

[6,5,10]

[1,5,9,10]

[9,5,1]