# <center> First Exam </center>

**1. Given a $n \geq 0$, make a function that computes the following: 
$$\sum_{i = 1}^{n}n$$**

In [200]:
import time as t
num = 5000

In [219]:
#Time 4 min 38 segs
# 1 + 2 + 3 + 4 + 5
def suma_n(n):
    sol = 0
    for i in range(1, n + 1):
        sol += i
    return sol

In [220]:
start = t.time()
suma_n(num)
end = t.time()
print(end - start)

0.000247955322265625

In [203]:
# 5 + 4 + 3 + 2 + 1
def recursive_sum(n):
    
    if(n == 1):
        return 1
    else:
        return n + recursive_sum(n - 1)

In [204]:
start = t.time()
recursive_sum(num)
end = t.time()
print(end - start)

RecursionError: maximum recursion depth exceeded in comparison

In [205]:
# n (n + 1) / 2
def sum_form(n):
    return n * (n + 1) / 2

In [206]:
start = t.time()
sum_form(num)
end = t.time()
print(end - start)

4.315376281738281e-05

**2. In the following world cup Qatar 2022, 32 teams will compete to win the world championship. In how many different ways can we have a champion, second, and third places?**

In [76]:
# 1 min 17 segs
# 5! = 1 * 2 * 3 * 4 * 5
# n! = 1 * 2 * ... * n!
def fact(n):
    res = 1
    for i in range(1, n + 1):
        res *= i
    return res

In [77]:
fact(5)

120

In [79]:
# n = 32, r = 3
# VariaciÃ³n ->n! / (n - r!) 
# Permutacion -> n! / n! * (n - r)!

def worldCupVariation(n, r):
    return fact(n) / fact(n - r)

worldCupVariation(32, 3)

#[1,2,3]

29760.0

**3. Given any expression in a polynomial form, make a function that returns its derive**

*Example:*
    $$f(x) = 4x^{2} - 12x - 1 \Rightarrow f'(x) = 8x + 12$$

In [155]:
#[['+',4,2], ['+',12,1], ['+',1,0]]
#[(4,2),(12,1),(1,0)]
#[4,12,1] -> [0,8,12]

def derive(tuple_list):
    finalList = []
    for i in tuple_list:
        deriveList = []
        deriveList.append(i[0])
        deriveList.append(i[1] * i[2])
        deriveList.append(i[2] - 1)
        finalList.append(deriveList)
    return finalList

In [221]:
def read_formula(coef_list):
    for x in coef_list:
        if(x[2] == 0):
            print(f'{x[0]} {x[1]}x')
        elif(x[1] != 0):
            print(f'{x[0]} {x[1]}x^{x[2]}', end = ' ')

In [223]:
tup_lst = [['+',4,2], ['-',12,1], ['-',1,0]]
tup_lst

res = derive(tup_lst)
read_derive(res)

+ 8x^1 - 12x

In [162]:
read_derive(tup_lst)

+ 4x^2 - 12x^1 + 1x

**4. 2520 is the smallest number that can be divided by each of the numbers from 1 to 10 without any remainder.
What is the smallest positive number that is evenly divisible by all of the numbers from 1 to 20?**

In [289]:
def dividedByAll(num, limit):
    i = 2
    divided = True
    while(divided and i <= limit):
        if(num % i != 0):
            divided = False
        i += 1
    return divided

In [ ]:
start = t.time()
limitNum = 20
foundNum = False
currentNum = 20

while(not foundNum):
    foundNum = dividedByAll(currentNum, limitNum)
    if(foundNum):
        break;
    else:
        currentNum += 1

print(currentNum)
end = t.time()
print(end - start)

In [ ]:
#Solution -> 232792560

In [265]:
1 * 2 * 3 * 2 * 5

60

In [249]:
numbers

[2, 3, 5, 7, 11, 13, 17, 19]

**5. If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23. Find the sum of all the multiples of 3 or 5 below 1000.**

In [250]:
finalSum = 0
for i in range(1,1001):
    if(i % 3 == 0 or i % 5 == 0):
        finalSum += i
print(finalSum)

234168

**6. Given two strings by the an user, make a function that determines if they are equal or not.**

In [ ]:
def equalStrings(st1, st2):
    for i in range(len(st1)):
        if(st1[i] != st2[i]):
            print("Strings not equal")

**7. Use any data structure you want to test the following test cases:** 

* "a", "a"
* "aa", "ab"
* "ba", "ba"
* "bb", "bb"
* "ba", "ab"
* "aaa", "aab"
* "aba", "aab"
* "aaa", "aaa"
* "aaa", "aaab"

In [ ]:
testCases = [["a", "a"], ["aa", "ab"], ["ba", "ba"], ["bb", "bb"], ["ba", "ab"], ["aaa", "aab"], ["aba", "aab"], ["aaa", "aaa"], ["aaa", "aaab"]] 


for test in testCases:
    equalStrings(test[0], test[1])

**8. Fifa ranks every country's soccer team according to their recent results. Next we will have a table that has two columns: country name and points. Sort the points to see which country is the best ranked this year. NOTE: DO NOT USE THE PRE-BUILT FUNCTION <code>sort()</code>**


<table>
    <tr>
        <th><center>Country</center></th>
        <th><center>Points</center></th>
    </tr>
    <tr>
        <td> Brazil </td>
        <td> 1833 </td>
    </tr>
    <tr>
        <td> Spain </td>
        <td> 1709 </td>
    </tr>
    <tr>
        <td> Denmark </td>
        <td> 1654 </td>
    </tr>
    <tr>
        <td> Italy </td>
        <td> 1723 </td>
    </tr>
        <tr>
        <td> France </td>
        <td> 1790 </td>
    </tr>
        <tr>
        <td> Argentina </td>
        <td> 1765 </td>
    </tr>
        <tr>
        <td> Belgium </td>
        <td> 1827 </td>
    </tr>
        <tr>
        <td> England </td>
        <td> 1762 </td>
    </tr>
        <tr>
        <td> Mexico </td>
        <td> 1659 </td>
    </tr>
        <tr>
        <td> Portugal </td>
        <td> 1675 </td>
    </tr>

</table>

In [ ]:
countryRankings = [['Brazil', 1833], ['Spain', 1709], ['Denmark', 1654], ['Italy', 1723], ['France', 1790], ['Argentina', 1765], ['Belgium', 1827], ['England', 1762], ['Mexico', 1659], ['Portugal', 1675]]

**9. Given a year, determine whether it is a leap year or not.**

An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.

In the Gregorian calendar, three conditions are used to identify leap years:
* The year can be evenly divided by 4, is a leap year, unless:
* The year can be evenly divided by 100, it is NOT a leap year, unless:
* The year is also evenly divisible by 400. Then it is a leap year.

This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years.

In [291]:
def leap_year(year):
    if(year % 4 == 0 and year % 100 != 0 or year % 400 == 0):
        print(year, "is leap year")
    else:
        print(year, "is NOT Leap year")

In [292]:
for yr in range(1900, 2400, 1):
    leap_year(yr)

1900 is NOT Leap year
1901 is NOT Leap year
1902 is NOT Leap year
1903 is NOT Leap year
1904 is leap year
1905 is NOT Leap year
1906 is NOT Leap year
1907 is NOT Leap year
1908 is leap year
1909 is NOT Leap year
1910 is NOT Leap year
1911 is NOT Leap year
1912 is leap year
1913 is NOT Leap year
1914 is NOT Leap year
1915 is NOT Leap year
1916 is leap year
1917 is NOT Leap year
1918 is NOT Leap year
1919 is NOT Leap year
1920 is leap year
1921 is NOT Leap year
1922 is NOT Leap year
1923 is NOT Leap year
1924 is leap year
1925 is NOT Leap year
1926 is NOT Leap year
1927 is NOT Leap year
1928 is leap year
1929 is NOT Leap year
1930 is NOT Leap year
1931 is NOT Leap year
1932 is leap year
1933 is NOT Leap year
1934 is NOT Leap year
1935 is NOT Leap year
1936 is leap year
1937 is NOT Leap year
1938 is NOT Leap year
1939 is NOT Leap year
1940 is leap year
1941 is NOT Leap year
1942 is NOT Leap year
1943 is NOT Leap year
1944 is leap year
1945 is NOT Leap year
1946 is NOT Leap year
1947 is NOT Leap year
1948 is leap year
1949 is NOT Leap year
1950 is NOT Leap year
1951 is NOT Leap year
1952 is leap year
1953 is NOT Leap year
1954 is NOT Leap year
1955 is NOT Leap year
1956 is leap year
1957 is NOT Leap year
1958 is NOT Leap year
1959 is NOT Leap year
1960 is leap year
1961 is NOT Leap year
1962 is NOT Leap year
1963 is NOT Leap year
1964 is leap year
1965 is NOT Leap year
1966 is NOT Leap year
1967 is NOT Leap year
1968 is leap year
1969 is NOT Leap year
1970 is NOT Leap year
1971 is NOT Leap year
1972 is leap year
1973 is NOT Leap year
1974 is NOT Leap year
1975 is NOT Leap year
1976 is leap year
1977 is NOT Leap year
1978 is NOT Leap year
1979 is NOT Leap year
1980 is leap year
1981 is NOT Leap year
1982 is NOT Leap year
1983 is NOT Leap year
1984 is leap year
1985 is NOT Leap year
1986 is NOT Leap year
1987 is NOT Leap year
1988 is leap year
1989 is NOT Leap year
1990 is NOT Leap year
1991 is NOT Leap year
1992 is leap year
1993 is NOT Leap year
1994 is NOT Leap year
1995 is NOT Leap year
1996 is leap year
1997 is NOT Leap year
1998 is NOT Leap year
1999 is NOT Leap year
2000 is leap year
2001 is NOT Leap year
2002 is NOT Leap year
2003 is NOT Leap year
2004 is leap year
2005 is NOT Leap year
2006 is NOT Leap year
2007 is NOT Leap year
2008 is leap year
2009 is NOT Leap year
2010 is NOT Leap year
2011 is NOT Leap year
2012 is leap year
2013 is NOT Leap year
2014 is NOT Leap year
2015 is NOT Leap year
2016 is leap year
2017 is NOT Leap year
2018 is NOT Leap year
2019 is NOT Leap year
2020 is leap year
2021 is NOT Leap year
2022 is NOT Leap year
2023 is NOT Leap year
2024 is leap year
2025 is NOT Leap year
2026 is NOT Leap year
2027 is NOT Leap year
2028 is leap year
2029 is NOT Leap year
2030 is NOT Leap year
2031 is NOT Leap year
2032 is leap year
2033 is NOT Leap year
2034 is NOT Leap year
2035 is NOT Leap year
2036 is leap year
2037 is NOT Leap year
2038 is NOT Leap year
2039 is NOT Leap year
2040 is leap year
2041 is NOT Leap year
2042 is NOT Leap year
2043 is NOT Leap year
2044 is leap year
2045 is NOT Leap year
2046 is NOT Leap year
2047 is NOT Leap year
2048 is leap year
2049 is NOT Leap year
2050 is NOT Leap year
2051 is NOT Leap year
2052 is leap year
2053 is NOT Leap year
2054 is NOT Leap year
2055 is NOT Leap year
2056 is leap year
2057 is NOT Leap year
2058 is NOT Leap year
2059 is NOT Leap year
2060 is leap year
2061 is NOT Leap year
2062 is NOT Leap year
2063 is NOT Leap year
2064 is leap year
2065 is NOT Leap year
2066 is NOT Leap year
2067 is NOT Leap year
2068 is leap year
2069 is NOT Leap year
2070 is NOT Leap year
2071 is NOT Leap year
2072 is leap year
2073 is NOT Leap year
2074 is NOT Leap year
2075 is NOT Leap year
2076 is leap year
2077 is NOT Leap year
2078 is NOT Leap year
2079 is NOT Leap year
2080 is leap year
2081 is NOT Leap year
2082 is NOT Leap year
2083 is NOT Leap year
2084 is leap year
2085 is NOT Leap year
2086 is NOT Leap year
2087 is NOT Leap year
2088 is leap year
2089 is NOT Leap year
2090 is NOT Leap year
2091 is NOT Leap year
2092 is leap year
2093 is NOT Leap year
2094 is NOT Leap year
2095 is NOT Leap year
2096 is leap year
2097 is NOT Leap year
2098 is NOT Leap year
2099 is NOT Leap year
2100 is NOT Leap year
2101 is NOT Leap year
2102 is NOT Leap year
2103 is NOT Leap year
2104 is leap year
2105 is NOT Leap year
2106 is NOT Leap year
2107 is NOT Leap year
2108 is leap year
2109 is NOT Leap year
2110 is NOT Leap year
2111 is NOT Leap year
2112 is leap year
2113 is NOT Leap year
2114 is NOT Leap year
2115 is NOT Leap year
2116 is leap year
2117 is NOT Leap year
2118 is NOT Leap year
2119 is NOT Leap year
2120 is leap year
2121 is NOT Leap year
2122 is NOT Leap year
2123 is NOT Leap year
2124 is leap year
2125 is NOT Leap year
2126 is NOT Leap year
2127 is NOT Leap year
2128 is leap year
2129 is NOT Leap year
2130 is NOT Leap year
2131 is NOT Leap year
2132 is leap year
2133 is NOT Leap year
2134 is NOT Leap year
2135 is NOT Leap year
2136 is leap year
2137 is NOT Leap year
2138 is NOT Leap year
2139 is NOT Leap year
2140 is leap year
2141 is NOT Leap year
2142 is NOT Leap year
2143 is NOT Leap year
2144 is leap year
2145 is NOT Leap year
2146 is NOT Leap year
2147 is NOT Leap year
2148 is leap year
2149 is NOT Leap year
2150 is NOT Leap year
2151 is NOT Leap year
2152 is leap year
2153 is NOT Leap year
2154 is NOT Leap year
2155 is NOT Leap year
2156 is leap year
2157 is NOT Leap year
2158 is NOT Leap year
2159 is NOT Leap year
2160 is leap year
2161 is NOT Leap year
2162 is NOT Leap year
2163 is NOT Leap year
2164 is leap year
2165 is NOT Leap year
2166 is NOT Leap year
2167 is NOT Leap year
2168 is leap year
2169 is NOT Leap year
2170 is NOT Leap year
2171 is NOT Leap year
2172 is leap year
2173 is NOT Leap year
2174 is NOT Leap year
2175 is NOT Leap year
2176 is leap year
2177 is NOT Leap year
2178 is NOT Leap year
2179 is NOT Leap year
2180 is leap year
2181 is NOT Leap year
2182 is NOT Leap year
2183 is NOT Leap year
2184 is leap year
2185 is NOT Leap year
2186 is NOT Leap year
2187 is NOT Leap year
2188 is leap year
2189 is NOT Leap year
2190 is NOT Leap year
2191 is NOT Leap year
2192 is leap year
2193 is NOT Leap year
2194 is NOT Leap year
2195 is NOT Leap year
2196 is leap year
2197 is NOT Leap year
2198 is NOT Leap year
2199 is NOT Leap year
2200 is NOT Leap year
2201 is NOT Leap year
2202 is NOT Leap year
2203 is NOT Leap year
2204 is leap year
2205 is NOT Leap year
2206 is NOT Leap year
2207 is NOT Leap year
2208 is leap year
2209 is NOT Leap year
2210 is NOT Leap year
2211 is NOT Leap year
2212 is leap year
2213 is NOT Leap year
2214 is NOT Leap year
2215 is NOT Leap year
2216 is leap year
2217 is NOT Leap year
2218 is NOT Leap year
2219 is NOT Leap year
2220 is leap year
2221 is NOT Leap year
2222 is NOT Leap year
2223 is NOT Leap year
2224 is leap year
2225 is NOT Leap year
2226 is NOT Leap year
2227 is NOT Leap year
2228 is leap year
2229 is NOT Leap year
2230 is NOT Leap year
2231 is NOT Leap year
2232 is leap year
2233 is NOT Leap year
2234 is NOT Leap year
2235 is NOT Leap year
2236 is leap year
2237 is NOT Leap year
2238 is NOT Leap year
2239 is NOT Leap year
2240 is leap year
2241 is NOT Leap year
2242 is NOT Leap year
2243 is NOT Leap year
2244 is leap year
2245 is NOT Leap year
2246 is NOT Leap year
2247 is NOT Leap year
2248 is leap year
2249 is NOT Leap year
2250 is NOT Leap year
2251 is NOT Leap year
2252 is leap year
2253 is NOT Leap year
2254 is NOT Leap year
2255 is NOT Leap year
2256 is leap year
2257 is NOT Leap year
2258 is NOT Leap year
2259 is NOT Leap year
2260 is leap year
2261 is NOT Leap year
2262 is NOT Leap year
2263 is NOT Leap year
2264 is leap year
2265 is NOT Leap year
2266 is NOT Leap year
2267 is NOT Leap year
2268 is leap year
2269 is NOT Leap year
2270 is NOT Leap year
2271 is NOT Leap year
2272 is leap year
2273 is NOT Leap year
2274 is NOT Leap year
2275 is NOT Leap year
2276 is leap year
2277 is NOT Leap year
2278 is NOT Leap year
2279 is NOT Leap year
2280 is leap year
2281 is NOT Leap year
2282 is NOT Leap year
2283 is NOT Leap year
2284 is leap year
2285 is NOT Leap year
2286 is NOT Leap year
2287 is NOT Leap year
2288 is leap year
2289 is NOT Leap year
2290 is NOT Leap year
2291 is NOT Leap year
2292 is leap year
2293 is NOT Leap year
2294 is NOT Leap year
2295 is NOT Leap year
2296 is leap year
2297 is NOT Leap year
2298 is NOT Leap year
2299 is NOT Leap year
2300 is NOT Leap year
2301 is NOT Leap year
2302 is NOT Leap year
2303 is NOT Leap year
2304 is leap year
2305 is NOT Leap year
2306 is NOT Leap year
2307 is NOT Leap year
2308 is leap year
2309 is NOT Leap year
2310 is NOT Leap year
2311 is NOT Leap year
2312 is leap year
2313 is NOT Leap year
2314 is NOT Leap year
2315 is NOT Leap year
2316 is leap year
2317 is NOT Leap year
2318 is NOT Leap year
2319 is NOT Leap year
2320 is leap year
2321 is NOT Leap year
2322 is NOT Leap year
2323 is NOT Leap year
2324 is leap year
2325 is NOT Leap year
2326 is NOT Leap year
2327 is NOT Leap year
2328 is leap year
2329 is NOT Leap year
2330 is NOT Leap year
2331 is NOT Leap year
2332 is leap year
2333 is NOT Leap year
2334 is NOT Leap year
2335 is NOT Leap year
2336 is leap year
2337 is NOT Leap year
2338 is NOT Leap year
2339 is NOT Leap year
2340 is leap year
2341 is NOT Leap year
2342 is NOT Leap year
2343 is NOT Leap year
2344 is leap year
2345 is NOT Leap year
2346 is NOT Leap year
2347 is NOT Leap year
2348 is leap year
2349 is NOT Leap year
2350 is NOT Leap year
2351 is NOT Leap year
2352 is leap year
2353 is NOT Leap year
2354 is NOT Leap year
2355 is NOT Leap year
2356 is leap year
2357 is NOT Leap year
2358 is NOT Leap year
2359 is NOT Leap year
2360 is leap year
2361 is NOT Leap year
2362 is NOT Leap year
2363 is NOT Leap year
2364 is leap year
2365 is NOT Leap year
2366 is NOT Leap year
2367 is NOT Leap year
2368 is leap year
2369 is NOT Leap year
2370 is NOT Leap year
2371 is NOT Leap year
2372 is leap year
2373 is NOT Leap year
2374 is NOT Leap year
2375 is NOT Leap year
2376 is leap year
2377 is NOT Leap year
2378 is NOT Leap year
2379 is NOT Leap year
2380 is leap year
2381 is NOT Leap year
2382 is NOT Leap year
2383 is NOT Leap year
2384 is leap year
2385 is NOT Leap year
2386 is NOT Leap year
2387 is NOT Leap year
2388 is leap year
2389 is NOT Leap year
2390 is NOT Leap year
2391 is NOT Leap year
2392 is leap year
2393 is NOT Leap year
2394 is NOT Leap year
2395 is NOT Leap year
2396 is leap year
2397 is NOT Leap year
2398 is NOT Leap year
2399 is NOT Leap year

**10. Given the following document, determine the unique words of the document, and how many times do that words appear in the document.**

"It was a bright cold day in April, and the clocks were striking thirteen. Winston Smith, his chin nuzzled into his breast in an effort to escape the vile wind, slipped quickly through the glass doors of Victory Mansions, though not quickly enough to prevent a swirl of gritty dust from entering along with him.

The hallway smelt of boiled cabbage and old rag mats. At one end of it a coloured poster, too large for indoor display, had been tacked to the wall. It depicted simply an enormous face, more than a metre wide: the face of a man of about forty-five, with a heavy black moustache and ruggedly handsome features. Winston made for the stairs. It was no use trying the lift. Even at the best of times it was seldom working, and at present the electric current was cut off during daylight hours. It was part of the economy drive in preparation for HateWeek. The flat was seven flights up, and Winston, who was thirty-nine and had a varicose ulcer above his right ankle, went slowly, resting several times on the way. On each landing, opposite the lift shaft, the poster with the enormous face gazed from the wall. It was one of those pictures which are so contrived that the eyes follow you about when you move. BIG BROTHER IS WATCHING YOU, the caption beneath it ran."

In [ ]:
document = ("It was a bright cold day in April, and the clocks were striking thirteen. Winston Smith, " 

            "his chin nuzzled into his breast in an effort to escape the vile wind, slipped quickly through"

            "the glass doors of Victory Mansions, though not quickly enough to prevent a swirl of gritty dust"

            "from entering along with him. "

            " The hallway smelt of boiled cabbage and old rag mats. At one end of it a coloured poster," 

            "too large for indoor display, had been tacked to the wall. It depicted simply an enormous face, "

            "more than a metre wide: the face of a man of about forty-five, with a heavy black moustache and"

            "ruggedly handsome features. Winston made for the stairs. It was no use trying the lift. Even at "

            "the best of times it was seldom working, and at present the electric current was cut off during "

            "daylight hours. It was part of the economy drive in preparation for HateWeek. The flat was seven"

            "flights up, and Winston, who was thirty-nine and had a varicose ulcer above his right ankle, went"

            "slowly, resting several times on the way. On each landing, opposite the lift shaft, the poster"

            "with the enormous face gazed from the wall. It was one of those pictures which are so contrived"

            "that the eyes follow you about when you move. BIG BROTHER IS WATCHING YOU, the caption beneath it ran.")

In [ ]:
document = document.split(' ')
document

In [ ]:
dictionary = {}
for letter in document:
    if letter not in dictionary:
        dictionary[letter] = 1
    else:
        dictionary[letter] += 1
print(dictionary)